$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$isax-woman: "\e900";
$isax-wind-2: "\e901";
$isax-wind: "\e902";
$isax-wifi-square: "\e903";
$isax-wifi: "\e904";
$isax-weight-1: "\e905";
$isax-weight: "\e906";
$isax-watch-status: "\e907";
$isax-watch: "\e908";
$isax-warning-2: "\e909";
$isax-wallet-search: "\e90a";
$isax-wallet-remove: "\e90b";
$isax-wallet-money: "\e90c";
$isax-wallet-minus: "\e90d";
$isax-wallet-check: "\e90e";
$isax-wallet-add-1: "\e90f";
$isax-wallet-add: "\e910";
$isax-wallet-3: "\e911";
$isax-wallet-2: "\e912";
$isax-wallet-1: "\e913";
$isax-wallet: "\e914";
$isax-volume-up: "\e915";
$isax-volume-slash: "\e916";
$isax-volume-mute: "\e917";
$isax-volume-low-1: "\e918";
$isax-volume-low: "\e919";
$isax-volume-high: "\e91a";
$isax-volume-cross: "\e91b";
$isax-voice-square: "\e91c";
$isax-voice-cricle: "\e91d";
$isax-video-vertical: "\e91e";
$isax-video-time: "\e91f";
$isax-video-tick: "\e920";
$isax-video-square: "\e921";
$isax-video-slash: "\e922";
$isax-video-remove: "\e923";
$isax-video-play: "\e924";
$isax-video-octagon: "\e925";
$isax-video-horizontal: "\e926";
$isax-video-circle: "\e927";
$isax-video-add: "\e928";
$isax-video: "\e929";
$isax-verify: "\e92a";
$isax-user-tick: "\e92b";
$isax-user-tag: "\e92c";
$isax-user-square: "\e92d";
$isax-user-search: "\e92e";
$isax-user-remove: "\e92f";
$isax-user-octagon: "\e930";
$isax-user-minus: "\e931";
$isax-user-edit: "\e932";
$isax-user-cirlce-add: "\e933";
$isax-user-add: "\e934";
$isax-user: "\e935";
$isax-unlock: "\e936";
$isax-unlimited: "\e937";
$isax-undo: "\e938";
$isax-trush-square: "\e939";
$isax-truck-time: "\e93a";
$isax-truck-tick: "\e93b";
$isax-truck-remove: "\e93c";
$isax-triangle: "\e93d";
$isax-trend-up: "\e93e";
$isax-trend-down: "\e93f";
$isax-tree: "\e940";
$isax-trash: "\e941";
$isax-translate: "\e942";
$isax-transaction-minus: "\e943";
$isax-trade: "\e944";
$isax-toggle-on-circle: "\e945";
$isax-toggle-on: "\e946";
$isax-toggle-off-circle: "\e947";
$isax-toggle-off: "\e948";
$isax-timer-start: "\e949";
$isax-timer-pause: "\e94a";
$isax-timer-1: "\e94b";
$isax-timer: "\e94c";
$isax-tick-square: "\e94d";
$isax-ticket-star: "\e94e";
$isax-ticket-expired: "\e94f";
$isax-ticket-discount: "\e950";
$isax-ticket-2: "\e951";
$isax-ticket: "\e952";
$isax-tick-circle: "\e953";
$isax-text-underline: "\e954";
$isax-text-italic: "\e955";
$isax-text-bold: "\e956";
$isax-text-block: "\e957";
$isax-textalign-right: "\e958";
$isax-textalign-left: "\e959";
$isax-textalign-justifyright: "\e95a";
$isax-textalign-justifyleft: "\e95b";
$isax-textalign-justifycenter: "\e95c";
$isax-textalign-center: "\e95d";
$isax-text: "\e95e";
$isax-teacher: "\e95f";
$isax-task-square: "\e960";
$isax-task: "\e961";
$isax-tag-user: "\e962";
$isax-tag-right: "\e963";
$isax-tag-cross: "\e964";
$isax-tag-2: "\e965";
$isax-tag: "\e966";
$isax-sun-fog: "\e967";
$isax-sun-1: "\e968";
$isax-sun: "\e969";
$isax-subtitle: "\e96a";
$isax-strongbox-2: "\e96b";
$isax-strongbox: "\e96c";
$isax-story: "\e96d";
$isax-stop-circle: "\e96e";
$isax-stop: "\e96f";
$isax-stickynote: "\e970";
$isax-sticker: "\e971";
$isax-status-up: "\e972";
$isax-status: "\e973";
$isax-star-slash: "\e974";
$isax-star-1: "\e975";
$isax-star: "\e976";
$isax-speedometer: "\e977";
$isax-speaker: "\e978";
$isax-sound: "\e979";
$isax-sort: "\e97a";
$isax-sms-tracking: "\e97b";
$isax-sms-star: "\e97c";
$isax-sms-search: "\e97d";
$isax-sms-notification: "\e97e";
$isax-sms-edit: "\e97f";
$isax-sms: "\e980";
$isax-smileys: "\e981";
$isax-smart-home: "\e982";
$isax-smart-car: "\e983";
$isax-smallcaps: "\e984";
$isax-slider-vertical-1: "\e985";
$isax-slider-vertical: "\e986";
$isax-slider-horizontal-1: "\e987";
$isax-slider-horizontal: "\e988";
$isax-slider: "\e989";
$isax-slash: "\e98a";
$isax-size: "\e98b";
$isax-simcard-2: "\e98c";
$isax-simcard-1: "\e98d";
$isax-simcard: "\e98e";
$isax-signpost: "\e98f";
$isax-sidebar-top: "\e990";
$isax-sidebar-right: "\e991";
$isax-sidebar-left: "\e992";
$isax-sidebar-bottom: "\e993";
$isax-shop-remove: "\e994";
$isax-shopping-cart: "\e995";
$isax-shopping-bag: "\e996";
$isax-shop-add: "\e997";
$isax-shop: "\e998";
$isax-ship: "\e999";
$isax-shield-tick: "\e99a";
$isax-shield-slash: "\e99b";
$isax-shield-security: "\e99c";
$isax-shield-search: "\e99d";
$isax-shield-cross: "\e99e";
$isax-shield: "\e99f";
$isax-share: "\e9a0";
$isax-shapes-2: "\e9a1";
$isax-shapes-1: "\e9a2";
$isax-shapes: "\e9a3";
$isax-settings: "\e9a4";
$isax-setting-5: "\e9a5";
$isax-setting-4: "\e9a6";
$isax-setting-3: "\e9a7";
$isax-setting-2: "\e9a8";
$isax-setting: "\e9a9";
$isax-send-square: "\e9aa";
$isax-send-sqaure-2: "\e9ab";
$isax-send-2: "\e9ac";
$isax-send-1: "\e9ad";
$isax-send: "\e9ae";
$isax-security-user: "\e9af";
$isax-security-time: "\e9b0";
$isax-security-safe: "\e9b1";
$isax-security-card: "\e9b2";
$isax-security: "\e9b3";
$isax-search-zoom-out-1: "\e9b4";
$isax-search-zoom-out: "\e9b5";
$isax-search-zoom-in-1: "\e9b6";
$isax-search-zoom-in: "\e9b7";
$isax-search-status-1: "\e9b8";
$isax-search-status: "\e9b9";
$isax-search-normal-1: "\e9ba";
$isax-search-normal: "\e9bb";
$isax-search-favorite-1: "\e9bc";
$isax-search-favorite: "\e9bd";
$isax-scroll: "\e9be";
$isax-screenmirroring: "\e9bf";
$isax-scissor-2: "\e9c0";
$isax-scissor-1: "\e9c1";
$isax-scissor: "\e9c2";
$isax-scanning: "\e9c3";
$isax-scanner: "\e9c4";
$isax-scan-barcode: "\e9c5";
$isax-scan: "\e9c6";
$isax-save-remove: "\e9c7";
$isax-save-minus: "\e9c8";
$isax-save-add: "\e9c9";
$isax-save-2: "\e9ca";
$isax-sagittarius: "\e9cb";
$isax-safe-home: "\e9cc";
$isax-rulerpen: "\e9cd";
$isax-ruler: "\e9ce";
$isax-row-vertical: "\e9cf";
$isax-row-horizontal: "\e9d0";
$isax-routing-2: "\e9d1";
$isax-routing: "\e9d2";
$isax-route-square: "\e9d3";
$isax-rotate-right-1: "\e9d4";
$isax-rotate-right: "\e9d5";
$isax-rotate-left-1: "\e9d6";
$isax-rotate-left: "\e9d7";
$isax-reserve: "\e9d8";
$isax-repeate-one: "\e9d9";
$isax-repeate-music: "\e9da";
$isax-repeat-circle: "\e9db";
$isax-repeat: "\e9dc";
$isax-refresh-square-2: "\e9dd";
$isax-refresh-right-square: "\e9de";
$isax-refresh-left-square: "\e9df";
$isax-refresh-circle: "\e9e0";
$isax-refresh-2: "\e9e1";
$isax-refresh: "\e9e2";
$isax-redo: "\e9e3";
$isax-recovery-convert: "\e9e4";
$isax-record-circle: "\e9e5";
$isax-record: "\e9e6";
$isax-receive-square-2: "\e9e7";
$isax-receive-square: "\e9e8";
$isax-received: "\e9e9";
$isax-receipt-text: "\e9ea";
$isax-receipt-square: "\e9eb";
$isax-receipt-search: "\e9ec";
$isax-receipt-minus: "\e9ed";
$isax-receipt-item: "\e9ee";
$isax-receipt-edit: "\e9ef";
$isax-receipt-disscount: "\e9f0";
$isax-receipt-discount: "\e9f1";
$isax-receipt-add: "\e9f2";
$isax-receipt-2-1: "\e9f3";
$isax-receipt-2: "\e9f4";
$isax-receipt-1: "\e9f5";
$isax-receipt: "\e9f6";
$isax-ranking-1: "\e9f7";
$isax-ranking: "\e9f8";
$isax-ram-2: "\e9f9";
$isax-ram: "\e9fa";
$isax-radio: "\e9fb";
$isax-radar-2: "\e9fc";
$isax-radar-1: "\e9fd";
$isax-radar: "\e9fe";
$isax-quote-up-square: "\e9ff";
$isax-quote-up-circle: "\ea00";
$isax-quote-up: "\ea01";
$isax-quote-down-square: "\ea02";
$isax-quote-down-circle: "\ea03";
$isax-quote-down: "\ea04";
$isax-programming-arrows: "\ea05";
$isax-programming-arrow: "\ea06";
$isax-profile-tick: "\ea07";
$isax-profile-remove: "\ea08";
$isax-profile-delete: "\ea09";
$isax-profile-circle: "\ea0a";
$isax-profile-add: "\ea0b";
$isax-profile-2user: "\ea0c";
$isax-profile: "\ea0d";
$isax-printer-slash: "\ea0e";
$isax-printer: "\ea0f";
$isax-previous: "\ea10";
$isax-presention-chart: "\ea11";
$isax-play-remove: "\ea12";
$isax-play-cricle: "\ea13";
$isax-play-circle: "\ea14";
$isax-play-add: "\ea15";
$isax-play: "\ea16";
$isax-picture-frame: "\ea17";
$isax-pharagraphspacing: "\ea18";
$isax-pet: "\ea19";
$isax-personalcard: "\ea1a";
$isax-percentage-square: "\ea1b";
$isax-people: "\ea1c";
$isax-pen-tool-2-1: "\ea1d";
$isax-pen-tool-2: "\ea1e";
$isax-pen-tool-1: "\ea1f";
$isax-pen-tool: "\ea20";
$isax-pen-remove-1: "\ea21";
$isax-pen-remove: "\ea22";
$isax-pen-close-1: "\ea23";
$isax-pen-close: "\ea24";
$isax-pen-add-1: "\ea25";
$isax-pen-add: "\ea26";
$isax-pause-circle: "\ea27";
$isax-pause: "\ea28";
$isax-path-square: "\ea29";
$isax-path-2: "\ea2a";
$isax-path: "\ea2b";
$isax-password-check: "\ea2c";
$isax-paperclip-2: "\ea2d";
$isax-paperclip: "\ea2e";
$isax-paintbucket: "\ea2f";
$isax-omega-square-1: "\ea30";
$isax-omega-square: "\ea31";
$isax-omega-circle-1: "\ea32";
$isax-omega-circle: "\ea33";
$isax-notification-status: "\ea34";
$isax-notification-favorite: "\ea35";
$isax-notification-circle: "\ea36";
$isax-notification-bing: "\ea37";
$isax-notification-1: "\ea38";
$isax-notification: "\ea39";
$isax-note-text: "\ea3a";
$isax-note-square: "\ea3b";
$isax-note-remove: "\ea3c";
$isax-note-favorite: "\ea3d";
$isax-note-add: "\ea3e";
$isax-note-21: "\ea3f";
$isax-note-2: "\ea40";
$isax-note-1: "\ea41";
$isax-note: "\ea42";
$isax-next: "\ea43";
$isax-music-square-search: "\ea44";
$isax-music-square-remove: "\ea45";
$isax-music-square-add: "\ea46";
$isax-music-square: "\ea47";
$isax-music-playlist: "\ea48";
$isax-music-play: "\ea49";
$isax-musicnote: "\ea4a";
$isax-music-library-2: "\ea4b";
$isax-music-filter: "\ea4c";
$isax-music-dashboard: "\ea4d";
$isax-music-circle: "\ea4e";
$isax-music: "\ea4f";
$isax-mouse-square: "\ea50";
$isax-mouse-circle: "\ea51";
$isax-mouse-1: "\ea52";
$isax-mouse: "\ea53";
$isax-more-square: "\ea54";
$isax-more-circle: "\ea55";
$isax-more-2: "\ea56";
$isax-more: "\ea57";
$isax-moon: "\ea58";
$isax-monitor-recorder: "\ea59";
$isax-monitor-mobbile: "\ea5a";
$isax-monitor: "\ea5b";
$isax-money-time: "\ea5c";
$isax-money-tick: "\ea5d";
$isax-money-send: "\ea5e";
$isax-moneys: "\ea5f";
$isax-money-remove: "\ea60";
$isax-money-recive: "\ea61";
$isax-money-forbidden: "\ea62";
$isax-money-change: "\ea63";
$isax-money-add: "\ea64";
$isax-money-4: "\ea65";
$isax-money-3: "\ea66";
$isax-money-2: "\ea67";
$isax-money: "\ea68";
$isax-mobile-programming: "\ea69";
$isax-mobile: "\ea6a";
$isax-mirroring-screen: "\ea6b";
$isax-mirror: "\ea6c";
$isax-minus-square: "\ea6d";
$isax-minus-cirlce: "\ea6e";
$isax-minus: "\ea6f";
$isax-mini-music-sqaure: "\ea70";
$isax-milk: "\ea71";
$isax-microscope: "\ea72";
$isax-microphone-slash-1: "\ea73";
$isax-microphone-slash: "\ea74";
$isax-microphone-2: "\ea75";
$isax-microphone: "\ea76";
$isax-message-time: "\ea77";
$isax-message-tick: "\ea78";
$isax-message-text-1: "\ea79";
$isax-message-text: "\ea7a";
$isax-message-square: "\ea7b";
$isax-message-search: "\ea7c";
$isax-messages-3: "\ea7d";
$isax-messages-2: "\ea7e";
$isax-messages-1: "\ea7f";
$isax-messages: "\ea80";
$isax-message-remove: "\ea81";
$isax-message-question: "\ea82";
$isax-message-programming: "\ea83";
$isax-message-notif: "\ea84";
$isax-message-minus: "\ea85";
$isax-message-favorite: "\ea86";
$isax-message-edit: "\ea87";
$isax-message-circle: "\ea88";
$isax-message-add-1: "\ea89";
$isax-message-add: "\ea8a";
$isax-message-2: "\ea8b";
$isax-message: "\ea8c";
$isax-menu-board: "\ea8d";
$isax-menu-1: "\ea8e";
$isax-menu: "\ea8f";
$isax-medal-star: "\ea90";
$isax-medal: "\ea91";
$isax-maximize-circle: "\ea92";
$isax-maximize-21: "\ea93";
$isax-maximize-4: "\ea94";
$isax-maximize-3: "\ea95";
$isax-maximize-2: "\ea96";
$isax-maximize-1: "\ea97";
$isax-maximize: "\ea98";
$isax-math: "\ea99";
$isax-mask-3: "\ea9a";
$isax-mask-2: "\ea9b";
$isax-mask-1: "\ea9c";
$isax-mask: "\ea9d";
$isax-map-1: "\ea9e";
$isax-map: "\ea9f";
$isax-man: "\eaa0";
$isax-main-component-1: "\eaa1";
$isax-main-component: "\eaa2";
$isax-magic-star: "\eaa3";
$isax-magicpen: "\eaa4";
$isax-lovely: "\eaa5";
$isax-logout-1: "\eaa6";
$isax-logout: "\eaa7";
$isax-login-1: "\eaa8";
$isax-login: "\eaa9";
$isax-lock-slash: "\eaaa";
$isax-lock-circle: "\eaab";
$isax-lock-1: "\eaac";
$isax-lock: "\eaad";
$isax-location-tick: "\eaae";
$isax-location-slash: "\eaaf";
$isax-location-minus: "\eab0";
$isax-location-cross: "\eab1";
$isax-location-add: "\eab2";
$isax-location: "\eab3";
$isax-link-square: "\eab4";
$isax-link-circle: "\eab5";
$isax-link-21: "\eab6";
$isax-link-2: "\eab7";
$isax-link-1: "\eab8";
$isax-link: "\eab9";
$isax-like-tag: "\eaba";
$isax-like-shapes: "\eabb";
$isax-like-dislike: "\eabc";
$isax-like-1: "\eabd";
$isax-like: "\eabe";
$isax-lifebuoy: "\eabf";
$isax-level: "\eac0";
$isax-layer: "\eac1";
$isax-language-square: "\eac2";
$isax-language-circle: "\eac3";
$isax-lamp-slash: "\eac4";
$isax-lamp-on: "\eac5";
$isax-lamp-charge: "\eac6";
$isax-lamp-1: "\eac7";
$isax-lamp: "\eac8";
$isax-key-square: "\eac9";
$isax-keyboard-open: "\eaca";
$isax-keyboard: "\eacb";
$isax-key: "\eacc";
$isax-kanban: "\eacd";
$isax-judge: "\eace";
$isax-instagram: "\eacf";
$isax-information: "\ead0";
$isax-info-circle: "\ead1";
$isax-import-2: "\ead2";
$isax-import-1: "\ead3";
$isax-import: "\ead4";
$isax-image: "\ead5";
$isax-house-2: "\ead6";
$isax-house: "\ead7";
$isax-hospital: "\ead8";
$isax-home-wifi: "\ead9";
$isax-home-trend-up: "\eada";
$isax-home-trend-down: "\eadb";
$isax-home-hashtag: "\eadc";
$isax-home-2: "\eadd";
$isax-home: "\eade";
$isax-hierarchy-square-3: "\eadf";
$isax-hierarchy-square-2: "\eae0";
$isax-hierarchy-square: "\eae1";
$isax-hierarchy-3: "\eae2";
$isax-hierarchy-2: "\eae3";
$isax-hierarchy: "\eae4";
$isax-heart-tick: "\eae5";
$isax-heart-slash: "\eae6";
$isax-heart-search: "\eae7";
$isax-heart-remove: "\eae8";
$isax-heart-edit: "\eae9";
$isax-heart-circle: "\eaea";
$isax-heart-add: "\eaeb";
$isax-heart: "\eaec";
$isax-health: "\eaed";
$isax-headphones: "\eaee";
$isax-headphone: "\eaef";
$isax-hashtag-up: "\eaf0";
$isax-hashtag-down: "\eaf1";
$isax-hashtag-1: "\eaf2";
$isax-hashtag: "\eaf3";
$isax-happyemoji: "\eaf4";
$isax-group-11: "\eaf5";
$isax-group-10: "\eaf6";
$isax-group-9: "\eaf7";
$isax-group-8: "\eaf8";
$isax-group-7: "\eaf9";
$isax-group-6: "\eafa";
$isax-group-5: "\eafb";
$isax-group-4: "\eafc";
$isax-group-3: "\eafd";
$isax-group-2: "\eafe";
$isax-group-1: "\eaff";
$isax-group: "\eb00";
$isax-grid-lock: "\eb01";
$isax-grid-eraser: "\eb02";
$isax-grid-edit: "\eb03";
$isax-grid-9: "\eb04";
$isax-grid-8: "\eb05";
$isax-grid-7: "\eb06";
$isax-grid-6: "\eb07";
$isax-grid-5: "\eb08";
$isax-grid-4: "\eb09";
$isax-grid-3: "\eb0a";
$isax-grid-2: "\eb0b";
$isax-grid-1: "\eb0c";
$isax-graph: "\eb0d";
$isax-grammerly: "\eb0e";
$isax-gps-slash: "\eb0f";
$isax-gps: "\eb10";
$isax-global-search: "\eb11";
$isax-global-refresh: "\eb12";
$isax-global-edit: "\eb13";
$isax-global: "\eb14";
$isax-glass-1: "\eb15";
$isax-glass: "\eb16";
$isax-gift: "\eb17";
$isax-ghost: "\eb18";
$isax-gemini-2: "\eb19";
$isax-gemini: "\eb1a";
$isax-gas-station: "\eb1b";
$isax-gameboy: "\eb1c";
$isax-game: "\eb1d";
$isax-gallery-tick: "\eb1e";
$isax-gallery-slash: "\eb1f";
$isax-gallery-remove: "\eb20";
$isax-gallery-import: "\eb21";
$isax-gallery-favorite: "\eb22";
$isax-gallery-export: "\eb23";
$isax-gallery-edit: "\eb24";
$isax-gallery-add: "\eb25";
$isax-gallery: "\eb26";
$isax-frame-5: "\eb27";
$isax-frame-4: "\eb28";
$isax-frame-3: "\eb29";
$isax-frame-2: "\eb2a";
$isax-frame-1: "\eb2b";
$isax-frame: "\eb2c";
$isax-forward-square: "\eb2d";
$isax-forward-item-1: "\eb2e";
$isax-forward-item: "\eb2f";
$isax-forward-15-seconds: "\eb30";
$isax-forward-10-seconds: "\eb31";
$isax-forward-5-seconds: "\eb32";
$isax-forward: "\eb33";
$isax-format-square: "\eb34";
$isax-format-circle: "\eb35";
$isax-folder-open: "\eb36";
$isax-folder-minus: "\eb37";
$isax-folder-favorite: "\eb38";
$isax-folder-cross: "\eb39";
$isax-folder-connection: "\eb3a";
$isax-folder-cloud: "\eb3b";
$isax-folder-add: "\eb3c";
$isax-folder-2: "\eb3d";
$isax-folder: "\eb3e";
$isax-flash-slash: "\eb3f";
$isax-flash-circle-2: "\eb40";
$isax-flash-circle-1: "\eb41";
$isax-flash-circle: "\eb42";
$isax-flash-1: "\eb43";
$isax-flash: "\eb44";
$isax-flag-2: "\eb45";
$isax-flag: "\eb46";
$isax-firstline: "\eb47";
$isax-finger-scan: "\eb48";
$isax-finger-cricle: "\eb49";
$isax-filter-tick: "\eb4a";
$isax-filter-square: "\eb4b";
$isax-filter-search: "\eb4c";
$isax-filter-remove: "\eb4d";
$isax-filter-edit: "\eb4e";
$isax-filter-add: "\eb4f";
$isax-filter: "\eb50";
$isax-favorite-chart: "\eb51";
$isax-fatrows: "\eb52";
$isax-eye-slash: "\eb53";
$isax-eye: "\eb54";
$isax-external-drive: "\eb55";
$isax-export-3: "\eb56";
$isax-export-2: "\eb57";
$isax-export-1: "\eb58";
$isax-export: "\eb59";
$isax-eraser-2: "\eb5a";
$isax-eraser-1: "\eb5b";
$isax-eraser: "\eb5c";
$isax-empty-wallet-time: "\eb5d";
$isax-empty-wallet-tick: "\eb5e";
$isax-empty-wallet-remove: "\eb5f";
$isax-empty-wallet-change: "\eb60";
$isax-empty-wallet-add: "\eb61";
$isax-empty-wallet: "\eb62";
$isax-emoji-sad: "\eb63";
$isax-emoji-normal: "\eb64";
$isax-emoji-happy: "\eb65";
$isax-element-plus: "\eb66";
$isax-element-equal: "\eb67";
$isax-element-4: "\eb68";
$isax-element-3: "\eb69";
$isax-element-2: "\eb6a";
$isax-element-1: "\eb6b";
$isax-electricity: "\eb6c";
$isax-edit-2: "\eb6d";
$isax-edit: "\eb6e";
$isax-drop: "\eb6f";
$isax-driving: "\eb70";
$isax-driver-refresh: "\eb71";
$isax-driver-2: "\eb72";
$isax-driver: "\eb73";
$isax-dollar-square: "\eb74";
$isax-dollar-circle: "\eb75";
$isax-document-upload: "\eb76";
$isax-document-text-1: "\eb77";
$isax-document-text: "\eb78";
$isax-document-sketch: "\eb79";
$isax-document-previous: "\eb7a";
$isax-document-normal: "\eb7b";
$isax-document-like: "\eb7c";
$isax-document-forward: "\eb7d";
$isax-document-filter: "\eb7e";
$isax-document-favorite: "\eb7f";
$isax-document-download: "\eb80";
$isax-document-copy: "\eb81";
$isax-document-code-2: "\eb82";
$isax-document-code: "\eb83";
$isax-document-cloud: "\eb84";
$isax-document-1: "\eb85";
$isax-document: "\eb86";
$isax-dislike: "\eb87";
$isax-discover-1: "\eb88";
$isax-discover: "\eb89";
$isax-discount-shape: "\eb8a";
$isax-discount-circle: "\eb8b";
$isax-direct-up: "\eb8c";
$isax-direct-send: "\eb8d";
$isax-direct-right: "\eb8e";
$isax-direct-notification: "\eb8f";
$isax-direct-normal: "\eb90";
$isax-direct-left: "\eb91";
$isax-direct-inbox: "\eb92";
$isax-direct-down: "\eb93";
$isax-directbox-send: "\eb94";
$isax-directbox-receive: "\eb95";
$isax-directbox-notif: "\eb96";
$isax-directbox-default: "\eb97";
$isax-direct: "\eb98";
$isax-diamonds: "\eb99";
$isax-diagram: "\eb9a";
$isax-devices-1: "\eb9b";
$isax-devices: "\eb9c";
$isax-device-message: "\eb9d";
$isax-designtools: "\eb9e";
$isax-data-2: "\eb9f";
$isax-data: "\eba0";
$isax-danger: "\eba1";
$isax-cup: "\eba2";
$isax-crown-1: "\eba3";
$isax-crown: "\eba4";
$isax-crop: "\eba5";
$isax-creative-commons: "\eba6";
$isax-cpu-setting: "\eba7";
$isax-cpu-charge: "\eba8";
$isax-cpu: "\eba9";
$isax-courthouse: "\ebaa";
$isax-copy-success: "\ebab";
$isax-copyright: "\ebac";
$isax-copy: "\ebad";
$isax-convertshape-2: "\ebae";
$isax-convertshape: "\ebaf";
$isax-convert-3d-cube: "\ebb0";
$isax-convert: "\ebb1";
$isax-computing: "\ebb2";
$isax-component-1: "\ebb3";
$isax-component: "\ebb4";
$isax-command-square: "\ebb5";
$isax-command: "\ebb6";
$isax-color-swatch: "\ebb7";
$isax-colors-square-1: "\ebb8";
$isax-colors-square: "\ebb9";
$isax-colorfilter: "\ebba";
$isax-coin-1: "\ebbb";
$isax-coin: "\ebbc";
$isax-coffee: "\ebbd";
$isax-code-circle: "\ebbe";
$isax-code-1: "\ebbf";
$isax-code: "\ebc0";
$isax-cloud-sunny: "\ebc1";
$isax-cloud-snow: "\ebc2";
$isax-cloud-remove: "\ebc3";
$isax-cloud-plus: "\ebc4";
$isax-cloud-notif: "\ebc5";
$isax-cloud-minus: "\ebc6";
$isax-cloud-lightning: "\ebc7";
$isax-cloud-fog: "\ebc8";
$isax-cloud-drizzle: "\ebc9";
$isax-cloud-cross: "\ebca";
$isax-cloud-connection: "\ebcb";
$isax-cloud-change: "\ebcc";
$isax-cloud-add: "\ebcd";
$isax-cloud: "\ebce";
$isax-close-square: "\ebcf";
$isax-close-circle: "\ebd0";
$isax-clock-1: "\ebd1";
$isax-clock: "\ebd2";
$isax-clipboard-tick: "\ebd3";
$isax-clipboard-text: "\ebd4";
$isax-clipboard-import: "\ebd5";
$isax-clipboard-export: "\ebd6";
$isax-clipboard-close: "\ebd7";
$isax-clipboard: "\ebd8";
$isax-chrome: "\ebd9";
$isax-check: "\ebda";
$isax-chart-success: "\ebdb";
$isax-chart-square: "\ebdc";
$isax-chart-21: "\ebdd";
$isax-chart-3: "\ebde";
$isax-chart-2: "\ebdf";
$isax-chart-1: "\ebe0";
$isax-chart: "\ebe1";
$isax-cd: "\ebe2";
$isax-category-2: "\ebe3";
$isax-category: "\ebe4";
$isax-card-tick-1: "\ebe5";
$isax-card-tick: "\ebe6";
$isax-card-slash: "\ebe7";
$isax-card-send: "\ebe8";
$isax-cards: "\ebe9";
$isax-card-remove-1: "\ebea";
$isax-card-remove: "\ebeb";
$isax-card-receive: "\ebec";
$isax-card-pos: "\ebed";
$isax-card-edit: "\ebee";
$isax-card-coin: "\ebef";
$isax-card-add: "\ebf0";
$isax-card: "\ebf1";
$isax-car: "\ebf2";
$isax-candle-2: "\ebf3";
$isax-candle: "\ebf4";
$isax-camera-slash: "\ebf5";
$isax-camera: "\ebf6";
$isax-call-slash: "\ebf7";
$isax-call-remove: "\ebf8";
$isax-call-received: "\ebf9";
$isax-call-outgoing: "\ebfa";
$isax-call-minus: "\ebfb";
$isax-call-incoming: "\ebfc";
$isax-call-calling: "\ebfd";
$isax-call-add: "\ebfe";
$isax-call: "\ebff";
$isax-calendar-tick: "\ec00";
$isax-calendar-search: "\ec01";
$isax-calendar-remove: "\ec02";
$isax-calendar-edit: "\ec03";
$isax-calendar-circle: "\ec04";
$isax-calendar-add: "\ec05";
$isax-calendar-2: "\ec06";
$isax-calendar-1: "\ec07";
$isax-calendar: "\ec08";
$isax-calculator: "\ec09";
$isax-cake: "\ec0a";
$isax-buy-crypto: "\ec0b";
$isax-bus: "\ec0c";
$isax-buliding: "\ec0d";
$isax-buildings-2: "\ec0e";
$isax-buildings: "\ec0f";
$isax-building-4: "\ec10";
$isax-building-3: "\ec11";
$isax-building: "\ec12";
$isax-bucket-square-1: "\ec13";
$isax-bucket-square: "\ec14";
$isax-bucket-circle-1: "\ec15";
$isax-bucket-circle: "\ec16";
$isax-bubble: "\ec17";
$isax-brush-3: "\ec18";
$isax-brush-2: "\ec19";
$isax-brush-1: "\ec1a";
$isax-brush: "\ec1b";
$isax-broom: "\ec1c";
$isax-brifecase-timer: "\ec1d";
$isax-brifecase-tick: "\ec1e";
$isax-brifecase-cross: "\ec1f";
$isax-briefcase: "\ec20";
$isax-box-time: "\ec21";
$isax-box-tick: "\ec22";
$isax-box-search: "\ec23";
$isax-box-remove: "\ec24";
$isax-box-add: "\ec25";
$isax-box-2: "\ec26";
$isax-box-1: "\ec27";
$isax-box: "\ec28";
$isax-book-square: "\ec29";
$isax-book-saved: "\ec2a";
$isax-bookmark-2: "\ec2b";
$isax-bookmark: "\ec2c";
$isax-book-1: "\ec2d";
$isax-book: "\ec2e";
$isax-blur-1: "\ec2f";
$isax-blur: "\ec30";
$isax-bluetooth-rectangle: "\ec31";
$isax-bluetooth-circle: "\ec32";
$isax-bluetooth-2: "\ec33";
$isax-bluetooth: "\ec34";
$isax-blend-2: "\ec35";
$isax-blend: "\ec36";
$isax-bitcoin-refresh: "\ec37";
$isax-bitcoin-convert: "\ec38";
$isax-bitcoin-card: "\ec39";
$isax-bill: "\ec3a";
$isax-bezier-1: "\ec3b";
$isax-bezier: "\ec3c";
$isax-battery-full: "\ec3d";
$isax-battery-empty-1: "\ec3e";
$isax-battery-empty: "\ec3f";
$isax-battery-disable: "\ec40";
$isax-battery-charging: "\ec41";
$isax-battery-3full: "\ec42";
$isax-barcode: "\ec43";
$isax-bank: "\ec44";
$isax-bag-timer: "\ec45";
$isax-bag-tick-2: "\ec46";
$isax-bag-tick: "\ec47";
$isax-bag-happy: "\ec48";
$isax-bag-cross-1: "\ec49";
$isax-bag-cross: "\ec4a";
$isax-bag-2: "\ec4b";
$isax-bag: "\ec4c";
$isax-backward-item-1: "\ec4d";
$isax-backward-item: "\ec4e";
$isax-backward-15-seconds: "\ec4f";
$isax-backward-10-seconds: "\ec50";
$isax-backward-5-seconds: "\ec51";
$isax-backward: "\ec52";
$isax-back-square: "\ec53";
$isax-award: "\ec54";
$isax-autobrightness: "\ec55";
$isax-audio-square: "\ec56";
$isax-attach-square: "\ec57";
$isax-attach-circle: "\ec58";
$isax-arrow-up-3: "\ec59";
$isax-arrow-up-2: "\ec5a";
$isax-arrow-up-1: "\ec5b";
$isax-arrow-up: "\ec5c";
$isax-arrow-swap-horizontal: "\ec5d";
$isax-arrow-square-up: "\ec5e";
$isax-arrow-square-right: "\ec5f";
$isax-arrow-square-left: "\ec60";
$isax-arrow-square-down: "\ec61";
$isax-arrow-square: "\ec62";
$isax-arrow-right-3: "\ec63";
$isax-arrow-right-2: "\ec64";
$isax-arrow-right-1: "\ec65";
$isax-arrow-right: "\ec66";
$isax-arrow-left-3: "\ec67";
$isax-arrow-left-2: "\ec68";
$isax-arrow-left-1: "\ec69";
$isax-arrow-left: "\ec6a";
$isax-arrow-down-2: "\ec6b";
$isax-arrow-down-1: "\ec6c";
$isax-arrow-down: "\ec6d";
$isax-arrow-circle-right: "\ec6e";
$isax-arrow-circle-left: "\ec6f";
$isax-arrow-circle-down: "\ec70";
$isax-arrow-bottom: "\ec71";
$isax-arrow-3: "\ec72";
$isax-arrow-2: "\ec73";
$isax-arrow: "\ec74";
$isax-arrange-square-2: "\ec75";
$isax-arrange-square: "\ec76";
$isax-arrange-circle-2: "\ec77";
$isax-arrange-circle: "\ec78";
$isax-archive-tick: "\ec79";
$isax-archive-slash: "\ec7a";
$isax-archive-minus: "\ec7b";
$isax-archive-book: "\ec7c";
$isax-archive-add: "\ec7d";
$isax-archive-1: "\ec7e";
$isax-archive: "\ec7f";
$isax-aquarius: "\ec80";
$isax-align-vertically: "\ec81";
$isax-align-right: "\ec82";
$isax-align-left: "\ec83";
$isax-align-horizontally: "\ec84";
$isax-align-bottom: "\ec85";
$isax-alarm: "\ec86";
$isax-airpods: "\ec87";
$isax-airpod: "\ec88";
$isax-airplane-square: "\ec89";
$isax-airplane: "\ec8a";
$isax-airdrop: "\ec8b";
$isax-add-square: "\ec8c";
$isax-additem: "\ec8d";
$isax-add-circle: "\ec8e";
$isax-add: "\ec8f";
$isax-activity: "\ec90";
$isax-support: "\ec91";
$isax-square: "\ec92";
$isax-d-square: "\ec93";
$isax-d-rotate: "\ec94";
$isax-d-cube-scan: "\ec95";
$isax-dcube: "\ec96";

