/*
 * shop-catalog-layouts.scss
 * -----------------------------------------------
*/
table.tbl-shopping-cart .product-thumbnail, table.cart-total .product-thumbnail {
    min-width: 64px;
  }
  table.tbl-shopping-cart img, table.cart-total img {
    width: 64px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  table.tbl-shopping-cart th,
  table.tbl-shopping-cart td, table.cart-total th,
  table.cart-total td {
    vertical-align: middle;
    border-left: 1px solid #e3e3e3;
    padding: 20px 30px;
  }
  table.tbl-shopping-cart .product-name a, table.cart-total .product-name a {
    color: var(--headings-color);
  }
  table.tbl-shopping-cart .product-name .variation, table.cart-total .product-name .variation {
    font-size: 0.9rem;
    list-style: none;
  }
  table.tbl-shopping-cart .product-remove a, table.cart-total .product-remove a {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 24px;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    background-color: #757575;
    color: #ffffff;
    text-align: center;
  }
  table.tbl-shopping-cart .coupon-form .apply-button, table.cart-total .coupon-form .apply-button {
    position: relative;
    display: inline-block;
    color: #1e2434;
    background: #f4f5f4;
    padding: 15px 29px;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  table.tbl-shopping-cart .coupon-form .apply-button:hover, table.cart-total .coupon-form .apply-button:hover {
    color: var(--text-color-bg-theme-color2);
    background-color: var(--theme-color2);
  }
  
  table.tbl-shopping-cart > thead > tr > th,
  table.tbl-shopping-cart > tbody > tr > th,
  table.tbl-shopping-cart > tfoot > tr > th {
    color: #444;
  }
  
  .payment-method .accordion-box .block {
    background: #f4f5f4;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 20px;
  }
  .payment-method .accordion-box .block .acc-content .payment-info {
    position: relative;
    display: block;
    background-color: #fff;
    padding: 30px 30px 10px 30px;
  }
  .payment-method .accordion-box .block:last-child {
    margin-bottom: 0px;
  }
  .payment-method .accordion-box .block .acc-btn {
    padding: 19px 30px 22px 30px;
  }
  .payment-method .accordion-box .block .acc-btn .icon-outer {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 30px;
    height: auto;
    /* line-height: 65px; */
    font-size: 28px;
    color: #1e2434;
  }
  .payment-method .accordion-box .block .acc-btn.active .icon-outer {
    color: var(--text-color-bg-theme-color2);
  }
  .payment-method .payment-method h3 {
    margin-bottom: 32px;
  }
  
  .shop-sidebar {
    position: relative;
    display: block;
  }
  .shop-sidebar .sidebar-search {
    margin-bottom: 30px;
  }
  .shop-sidebar .sidebar-search .search-form .form-group {
    position: relative;
    margin: 0px;
  }
  .shop-sidebar .sidebar-search .search-form .form-group input[type=search] {
    position: relative;
    width: 100%;
    height: 52px;
    background-color: var(--theme-light-background);
    border: 1px solid var(--theme-light-background);
    border-radius: 5px;
    color: #646578;
    padding: 10px 60px 10px 20px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .shop-sidebar .sidebar-search .search-form .form-group button {
    position: absolute;
    display: inline-block;
    top: 5px;
    right: 5px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 18px;
    color: var(--text-color-bg-theme-color2);
    background-color: var(--theme-color2);
    cursor: pointer;
    border-radius: 3px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .shop-sidebar .sidebar-search .search-form .form-group button:hover {
    color: var(--text-color-bg-theme-color1);
    background-color: var(--theme-color1);
  }
  .shop-sidebar .sidebar-widget {
    position: relative;
    display: block;
    background-color: var(--theme-light-background);
    padding: 35px 30px 37px 30px;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  .shop-sidebar .sidebar-widget:last-child {
    margin-bottom: 0px;
  }
  .shop-sidebar .sidebar-widget .widget-title {
    position: relative;
    display: block;
    margin-bottom: 16px;
  }
  .shop-sidebar .category-widget .category-list li {
    position: relative;
    display: block;
    margin-bottom: 14px;
  }
  .shop-sidebar .category-widget .category-list li:last-child {
    margin-bottom: 0px;
  }
  .shop-sidebar .category-widget .category-list li a {
    position: relative;
    display: inline-block;
    color: #646578;
    font-weight: 400;
    padding-left: 20px;
  }
  .shop-sidebar .category-widget .category-list li a::before {
    position: absolute;
    content: "\f0da";
    font-family: "Font Awesome 6 Pro";
    left: 0px;
    top: 0px;
    font-size: 16px;
    font-weight: 600;
    color: var(--theme-color2);
  }
  .shop-sidebar .category-widget .category-list li a:hover {
    color: var(--theme-color1);
  }
  .shop-sidebar .price-filters .widget-title {
    margin-bottom: 28px;
  }
  .shop-sidebar .post-widget {
    padding-bottom: 9px;
  }
  .shop-sidebar .post-widget .post {
    position: relative;
    padding-left: 90px;
    padding-bottom: 24px;
    margin-bottom: 23px;
    min-height: 108px;
    border-bottom: 1px solid #e1e1e1;
  }
  .shop-sidebar .post-widget .post:last-child {
    margin-bottom: 0px;
    border-bottom: none;
  }
  .shop-sidebar .post-widget .post .post-thumb {
    position: absolute;
    left: 0px;
    top: 7px;
    width: 70px;
    height: 70px;
    border: 1px solid #d0d4dd;
    border-radius: 5px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .shop-sidebar .post-widget .post .post-thumb img {
    width: 100%;
    border-radius: 5px;
  }
  .shop-sidebar .post-widget .post a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    color: #646578;
    margin-bottom: 7px;
  }
  .shop-sidebar .post-widget .post .price {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #0a267a;
  }
  .shop-sidebar .post-widget .post:hover .post-thumb {
    border-color: var(--theme-color1);
  }
  .shop-sidebar .post-widget .post:hover a {
    color: var(--theme-color1);
  }
  
  .range-slider {
    position: relative;
  }
  .range-slider .title {
    line-height: 26px;
    position: relative;
    display: inline-block;
    margin-right: 4px;
  }
  .range-slider .title::before {
    position: absolute;
    content: "$";
    left: -5px;
    top: -19px;
    color: #646578;
    font-size: 18px;
  }
  .range-slider p {
    position: relative;
    display: inline-block;
    color: #646578;
    margin-right: 10px !important;
  }
  .range-slider .input {
    color: #646578;
    max-width: 75px;
    font-size: 18px;
    margin-top: 5px;
    position: relative;
    display: inline-block;
  }
  .range-slider .input input {
    background: none;
    color: #646578;
    font-size: 15px;
    text-align: left;
  }
  .range-slider .ui-widget.ui-widget-content {
    height: 4px;
    border: none;
    margin-bottom: 14px;
    background-color: #d0d4dd;
    border-radius: 2px;
  }
  .range-slider .ui-slider .ui-slider-range {
    top: 0px;
    height: 4px;
    background-color: var(--theme-color1);
  }
  .range-slider .ui-state-default {
    top: -5px;
    width: 14px;
    height: 14px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 0px;
    background-color: var(--theme-color1);
  }
  .range-slider .ui-state-default::before {
    position: absolute;
    content: "";
    background-color: #ffffff;
    width: 6px;
    height: 6px;
    left: 4px;
    top: 4px;
    border-radius: 50%;
  }
  .range-slider .ui-widget-content .ui-state-default {
    top: -5px;
    width: 14px;
    height: 14px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 0px;
    background-color: var(--theme-color1);
  }
  .range-slider .ui-widget-content .ui-state-default::before {
    position: absolute;
    content: "";
    background-color: #ffffff;
    width: 6px;
    height: 6px;
    left: 4px;
    top: 4px;
    border-radius: 50%;
  }
  .range-slider input[type=submit] {
    position: relative;
    display: block;
    background: var(--theme-color1);
    color: var(--text-color-bg-theme-color1);
    float: right;
    text-align: center;
    border: none;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    text-transform: capitalize;
    cursor: pointer;
    padding: 7px 20px;
    border-radius: 10px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .range-slider input[type=submit]:hover {
    color: var(--text-color-bg-theme-color2);
    background-color: var(--theme-color2);
  }
  
  /*** 
  
  ====================================================================
  Page Title
  ====================================================================
  
  ***/

  @keyframes ripple {
    70% {
      -webkit-box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
      box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
  .page-title {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 220px 0 140px;
    min-height: 250px;
  }
  @media only screen and (max-width: 1024px) {
    .page-title {
      padding: 180px 0 120px;
    }
  }
  @media only screen and (max-width: 768px) {
    .page-title {
      padding: 180px 0 120px;
    }
  }
  .page-title::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #131313;
    opacity: 0.8;
    content: "";
  }
  .page-title .title {
    font-size: 64px;
    color: #ffffff;
    margin-bottom: 17px;
  }
  .page-title .text {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    max-width: 520px;
  }
  
  .page-breadcrumb {
    position: relative;
    margin-top: 5px;
  }
  .page-breadcrumb li {
    position: relative;
    display: inline-block;
    margin-right: 12px;
    padding-right: 13px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
  }
  .page-breadcrumb li:after {
    position: absolute;
    content: "\f105";
    right: -6px;
    top: 1px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 900;
    font-family: "Font Awesome 6 Pro";
    color: #ffffff;
  }
  .page-breadcrumb li:last-child {
    padding-right: 0px;
    margin-right: 0px;
  }
  .page-breadcrumb li:last-child::after {
    display: none;
  }
  .page-breadcrumb li a {
    color: var(--theme-color3);
    font-weight: 500;
    text-transform: capitalize;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  .page-breadcrumb li a:hover {
    color: #ffffff;
  }
  
  .page-title.style-two {
    background-position: center center;
  }
  .page-title.style-two .page-breadcrumb-outer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    z-index: 8;
  }
  .page-title.style-two .page-breadcrumb li {
    color: rgb(7, 7, 16);
    font-weight: 600;
  }
  .page-title.style-two .page-breadcrumb li:after {
    color: rgb(7, 7, 16);
  }
  .page-title.style-two .page-breadcrumb li a {
    color: rgba(7, 7, 16, 0.6);
  }
  .page-title.style-two .page-breadcrumb li a:hover {
    color: rgb(7, 7, 16);
  }
  
  .play-now {
    position: relative;
    display: block;
    z-index: 9;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .play-now .icon {
    position: relative;
    display: inline-block;
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 70px;
    background-color: #ffffff;
    color: #ff6d2e;
    z-index: 1;
    padding-left: 5px;
    font-size: 14px;
    display: block;
    border-radius: 50%;
    -webkit-box-shadow: 0 0px 10px 0 rgba(255, 255, 255, 0.3);
    -ms-box-shadow: 0 0px 10px 0 rgba(255, 255, 255, 0.3);
    -o-box-shadow: 0 0px 10px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 0px 10px 0 rgba(255, 255, 255, 0.3);
    -webkit-transform-origin: center;
    transform-origin: center;
  }
  .play-now .ripple {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 70px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    -webkit-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
  }
  .play-now .ripple::before {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 70px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    -webkit-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    content: "";
    position: absolute;
  }
  .play-now .ripple:after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 70px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    -webkit-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    content: "";
    position: absolute;
  }
  
  .background-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
  }
  
  .error-page__inner {
    position: relative;
    display: block;
    text-align: center;
  }
  .error-page__inner .error-page__title-box {
    position: relative;
    display: block;
  }
  .error-page__inner .error-page__title {
    position: relative;
    display: inline-block;
    font-size: 280px;
    line-height: 280px;
    margin-bottom: 0;
    color: var(--theme-color1);
  }
  .error-page__inner .error-page__sub-title {
    font-size: 40px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 50px;
    margin-top: -16px;
  }
  .error-page__inner .error-page__text {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
  .error-page__inner .error-page__form {
    position: relative;
    display: block;
    margin: 42px auto 20px;
  }
  .error-page__inner .error-page__form input[type=search] {
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #f5f5f5;
    font-size: 14px;
    color: #333;
    padding-left: 50px;
    padding-right: 75px;
    border-radius: 7px;
  }
  .error-page__inner .error-page__form button[type=submit] {
    background-color: transparent;
    font-size: 22px;
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    width: 72px;
    outline: none;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
  }
  .error-page__inner .error-page__form-input {
    position: relative;
    display: block;
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
  }
  
  /***
  =============================================
      Services Details
  =============================================
  ***/
  .service-sidebar {
    position: relative;
    display: block;
    max-width: 365px;
    width: 100%;
  }
  .service-sidebar .service-sidebar-single {
    position: relative;
    display: block;
    margin-bottom: 30px;
  }
  .service-sidebar .service-sidebar-single-services {
    position: relative;
    display: block;
    background: #f6f4ec;
    border-radius: 10px;
    padding: 35px 30px 25px;
  }
  .service-sidebar .service-sidebar-single-services .title {
    position: relative;
    display: block;
    margin-bottom: 12px;
    padding-left: 20px;
  }
  .service-sidebar .service-sidebar-single-services .title h3 {
    color: var(--headings-color);
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
  }
  .service-sidebar .service-sidebar-single-services ul {
    position: relative;
    display: block;
    margin-top: 10px;
  }
  .service-sidebar .service-sidebar-single-services ul li {
    position: relative;
    display: block;
    margin-bottom: 5px;
    margin-top: -10px;
  }
  .service-sidebar .service-sidebar-single-services ul li:last-child {
    margin-bottom: 0;
  }
  .service-sidebar .service-sidebar-single-services ul li a {
    position: relative;
    display: block;
    color: var(--agriox-color-1, #687469);
    font-size: 18px;
    padding: 22px 20px 22px;
    border-radius: 10px;
    background: transparent;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .service-sidebar .service-sidebar-single-services ul li a:hover {
    color: var(--headings-color);
  }
  .service-sidebar .service-sidebar-single-services ul li a:hover::before {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg);
            transform: perspective(400px) rotateX(0deg);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .service-sidebar .service-sidebar-single-services ul li a:hover i {
    color: var(--theme-color1);
  }
  .service-sidebar .service-sidebar-single-services ul li a::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
    opacity: 1;
    -webkit-transform: perspective(400px) rotateX(90deg);
            transform: perspective(400px) rotateX(90deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
    background: #ffffff;
    -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }
  .service-sidebar .service-sidebar-single-services ul li a i {
    font-size: 16px;
  }
  .service-sidebar .service-sidebar-single-services ul li.current a::before {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg);
            transform: perspective(400px) rotateX(0deg);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .service-sidebar .service-sidebar-single-services ul li.current a i {
    color: var(--theme-color1);
  }
  .service-sidebar .service-sidebar-single-services ul li.current:first-child {
    margin-top: 20px;
  }
  .service-sidebar .service-sidebar-single-services ul li.current:last-child {
    margin-bottom: 35px;
  }
  .service-sidebar .service-sidebar-single-contact-box {
    position: relative;
    display: block;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 50px 0px 44px;
    z-index: 1;
  }
  .service-sidebar .service-sidebar-single-contact-box::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(109, 140, 84, 0.93);
    border-radius: 10px;
    content: "";
    z-index: -1;
  }
  .service-sidebar .service-sidebar-single-contact-box .icon {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 50%;
    background: var(--theme-color2);
  }
  .service-sidebar .service-sidebar-single-contact-box .icon:hover {
    background-color: var(--headings-color);
  }
  .service-sidebar .service-sidebar-single-contact-box .icon:hover span::before {
    color: #fff;
  }
  .service-sidebar .service-sidebar-single-contact-box .icon span::before {
    position: relative;
    display: inline-block;
    color: var(--headings-color);
    font-size: 30px;
    line-height: 60px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .service-sidebar .service-sidebar-single-contact-box .title {
    position: relative;
    display: block;
    margin-top: 20px;
    margin-bottom: 42px;
  }
  .service-sidebar .service-sidebar-single-contact-box .title h2 {
    color: #ffffff;
    font-size: 36px;
  }
  .service-sidebar .service-sidebar-single-contact-box .phone {
    font-size: 24px;
    line-height: 34px;
  }
  .service-sidebar .service-sidebar-single-contact-box .phone a {
    color: #ffffff;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .service-sidebar .service-sidebar-single-contact-box .phone a:hover {
    color: var(--theme-color1);
  }
  .service-sidebar .service-sidebar-single-contact-box p {
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
  }
  .service-sidebar .service-sidebar-single-btn {
    position: relative;
    display: block;
  }
  .service-sidebar .service-sidebar-single-btn .thm-btn {
    font-size: 16px;
    padding: 13px 50px 28px;
  }
  .service-sidebar .service-sidebar-single-btn .thm-btn span::before {
    position: relative;
    display: inline-block;
    top: 13px;
    color: #334b35;
    font-size: 40px;
    padding-right: 25px;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
    font-weight: 500;
  }
  .service-sidebar .service-sidebar-single-btn .thm-btn:hover span::before {
    color: #ffffff;
  }
  .service-sidebar .banner-widget {
    position: relative;
    display: block;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
  }
  .service-sidebar .banner-widget .widget-content {
    position: relative;
    display: block;
    width: 100%;
    padding: 45px 30px 40px 30px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .service-sidebar .banner-widget .widget-content .shape {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 278px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .service-sidebar .banner-widget .content-box {
    position: relative;
    max-width: 200px;
    width: 100%;
  }
  .service-sidebar .banner-widget .content-box .icon-box {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    background-color: var(--theme-color2);
    color: var(--text-color-bg-theme-color2);
    text-align: center;
    border-radius: 5px;
    margin-bottom: 23px;
  }
  .service-sidebar .banner-widget .content-box .icon-box .icon-shape {
    position: absolute;
    top: -15px;
    right: -38px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
  }
  .service-sidebar .banner-widget .content-box h3 {
    display: block;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
  .service-sidebar .banner-widget .content-box .theme-btn-two:hover {
    background: #0a267a;
  }
  .service-sidebar .service-sidebar-single-btn .theme-btn {
    padding: 20px 50px;
  }
  .service-sidebar .service-sidebar-single-btn .theme-btn .btn-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service-sidebar .service-sidebar-single-btn .theme-btn span::before {
    position: relative;
    display: inline-block;
    font-size: 36px;
    padding-right: 25px;
    margin-top: 7px;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
    font-weight: 500;
  }
  
  .services-details__content .feature-list .single-item {
    position: relative;
    display: block;
    border: 1px solid #e1e8e4;
    padding: 16px 30px 16px 53px;
    margin-bottom: 20px;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
  }
  .services-details__content .feature-list .single-item .icon-box {
    color: var(--theme-color1);
    position: absolute;
    left: 20px;
    top: 16px;
    font-size: 18px;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
  }
  .services-details__content .feature-list .single-item .title {
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .services-details__content .feature-list .single-item:hover {
    background-color: var(--theme-color2);
    color: var(--text-color-bg-theme-color2);
  }
  .services-details__content .feature-list .single-item:hover .icon-box {
    color: var(--text-color-bg-theme-color2);
  }
  
  .service-list li {
    position: relative;
    display: block;
    margin-bottom: 10px;
  }
  .service-list li:last-child {
    margin-bottom: 0px;
  }
  .service-list li a {
    position: relative;
    display: block;
    font-size: 18px;
    color: var(--headings-color);
    font-weight: 600;
    background-color: #fff;
    padding: 17px 20px 17px 50px;
    -webkit-box-shadow: 20px 5px 20px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 20px 5px 20px 0px rgba(0, 0, 0, 0.05);
  }
  .service-list li a:hover, .service-list li a.current {
    color: var(--text-color-bg-theme-color1);
    background-color: var(--theme-color1);
    padding-left: 80px;
  }
  .service-list li a:hover i, .service-list li a.current i {
    width: 60px;
    color: var(--text-color-bg-theme-color2);
    background-color: var(--theme-color2);
  }
  .service-list li i {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 100%;
    background-color: #f6f4ec;
    text-align: center;
    font-size: 16px;
    color: #707582;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .sidebar-service-list {
    margin: 0;
  }
  .sidebar-service-list li + li {
    margin-top: 10px;
  }
  .sidebar-service-list li a {
    font-size: 18px;
    font-weight: 700;
    position: relative;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: block;
    background-color: #f5faff;
    border-radius: 15px;
    padding: 19px 40px;
  }
  .sidebar-service-list li a:hover {
    color: var(--theme-color2);
  }
  .sidebar-service-list li a:hover i {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #fff;
    background-color: var(--theme-color2);
  }
  .sidebar-service-list li a i {
    height: 32px;
    width: 45px;
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    color: #191825;
    background-color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16px;
    border-radius: 15px;
  }
  .sidebar-service-list li.current a {
    color: var(--theme-color2);
  }
  .sidebar-service-list li.current a i {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #fff;
    background-color: var(--theme-color2);
  }
  
  .service-details-help {
    position: relative;
    display: block;
    padding: 57px 55px 50px;
    margin-top: 30px;
    text-align: center;
    z-index: 1;
    background-color: var(--theme-color2);
    border-radius: 15px;
    overflow: hidden;
  }
  
  .help-shape-1 {
    position: absolute;
    bottom: -215px;
    left: -95px;
    width: 220px;
    height: 500px;
    background-color: #303030;
    mix-blend-mode: soft-light;
    border-radius: 150px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    z-index: -1;
  }
  
  .help-shape-2 {
    position: absolute;
    top: -118px;
    right: -130px;
    width: 180px;
    height: 350px;
    background-color: #fff;
    mix-blend-mode: soft-light;
    border-radius: 186px;
    -webkit-transform: rotate(48deg);
            transform: rotate(48deg);
  }
  
  .help-icon {
    height: 73px;
    width: 73px;
    background-color: #fff;
    color: #191825;
    font-size: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    margin: 0 auto 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .help-icon:hover {
    background-color: #191825;
    color: #fff;
  }
  
  .help-title {
    font-size: 38px;
    color: #fff;
    line-height: 40px;
    margin-bottom: 21px;
    font-weight: 700;
  }
  
  .help-contact {
    position: relative;
    display: block;
    margin-top: 21px;
  }
  .help-contact p {
    font-size: 14px;
    color: #fff;
    margin: 0;
    line-height: 32px;
    font-weight: 600;
    opacity: 0.7;
  }
  .help-contact a {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .help-contact a:hover {
    color: #191825;
  }