/*--------------------------------------------------------------
# Project Details
--------------------------------------------------------------*/
.project-details__img {
    position: relative;
    display: block;
  }
  .project-details__img img {
    width: 100%;
    border-radius: 10px;
  }
  
  .project-details__content {
    position: relative;
    display: block;
  }
  
  .project-details__content-left {
    position: relative;
    display: block;
    margin-top: 31px;
  }
  
  .project-details__content-right {
    position: relative;
    display: block;
    margin-top: 40px;
  }
  
  .project-details__details-box {
    position: relative;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 43px 50px 50px;
    z-index: 1;
  }
  
  .project-details__details-list {
    position: relative;
    display: block;
  }
  .project-details__details-list li {
    position: relative;
    display: block;
  }
  .project-details__details-list li + li {
    margin-top: 24px;
  }
  
  .project-details__client {
    font-size: 16px;
    color: #838d9e;
    line-height: 24px;
    margin: 0;
  }
  
  .project-details__name {
    font-size: 16px;
    line-height: 24px;
  }
  
  .project-details__social {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-details__social a {
    position: relative;
    height: 40px;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    background-color: var(--theme-color2);
    color: var(--text-color-bg-theme-color2);
    font-size: 15px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
  }
  .project-details__social a:hover {
    background-color: var(--theme-color1);
    color: var(--text-color-bg-theme-color1);
  }
  .project-details__social a + a {
    margin-left: 10px;
  }
  
  .project-details__pagination-box {
    position: relative;
    display: block;
    text-align: center;
    border-top: 1px solid #ece9e0;
    border-bottom: 1px solid #ece9e0;
    padding: 30px 0;
    margin-top: 117px;
  }
  
  .project-details__pagination {
    position: relative;
    display: block;
  }
  .project-details__pagination li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .project-details__pagination li a {
    font-size: 14px;
    color: #757873;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .project-details__pagination li a:hover {
    color: var(--theme-color1);
  }
  .project-details__pagination li a:hover i {
    background-color: var(--theme-color2);
    color: var(--text-color-bg-theme-color2);
    border: 2px solid var(--theme-color2);
  }
  .project-details__pagination li .content {
    position: relative;
    display: block;
  }
  .project-details__pagination li.next {
    float: left;
    position: relative;
  }
  .project-details__pagination li.next i {
    position: relative;
    height: 52px;
    width: 52px;
    border: 2px solid var(--theme-color2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--theme-color2);
    font-size: 16px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    margin-right: 20px;
    z-index: 1;
  }
  .project-details__pagination li.next .content {
    text-align: left;
  }
  .project-details__pagination li.previous {
    position: relative;
    float: right;
  }
  .project-details__pagination li.previous i {
    position: relative;
    height: 52px;
    width: 52px;
    border: 2px solid var(--theme-color2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--theme-color2);
    font-size: 16px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    margin-left: 20px;
    z-index: 1;
  }
  .project-details__pagination li.previous .content {
    text-align: right;
  }
  
  /***
  
  ====================================================================
      Blog Details
  ====================================================================
  
  ***/
  .blog-details {
    position: relative;
    display: block;
  }
  
  .blog-details__left {
    position: relative;
    display: block;
  }
  
  .blog-details__img {
    position: relative;
    display: block;
    border-radius: 10px;
  }
  .blog-details__img img {
    width: 100%;
    border-radius: 10px;
  }
  
  .blog-details__date {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--theme-color1);
    text-align: center;
    padding: 21px 24px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-details__date .day {
    font-size: 16px;
    color: #fff;
    font-weight: var(--body-font-weight-bold);
    line-height: 16px;
  }
  .blog-details__date .month {
    position: relative;
    display: block;
    font-size: 10px;
    font-weight: var(--body-font-weight-bold);
    color: #fff;
    line-height: 12px;
    text-transform: uppercase;
  }
  
  .blog-details__content {
    position: relative;
    display: block;
    margin-top: 22px;
  }
  
  .blog-details__meta {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-details__meta li + li {
    margin-left: 18px;
  }
  .blog-details__meta li a {
    font-size: 15px;
    color: #777;
    font-weight: 500;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .blog-details__meta li a:hover {
    color: var(--theme-color1);
  }
  .blog-details__meta li a i {
    color: var(--theme-color1);
    margin-right: 6px;
  }
  
  .blog-details__title {
    font-size: 30px;
    line-height: 40px;
    margin-top: 12px;
    margin-bottom: 21px;
    font-weight: var(--body-font-weight-bold);
  }
  
  .blog-details__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 30px 0 30px;
    margin-top: 49px;
    border-top: 1px solid #ece9e0;
  }
  @media only screen and (max-width: 767px) {
    .blog-details__bottom {
      gap: 30px;
    }
  }
  .blog-details__bottom p {
    margin: 0;
  }
  
  .blog-details__tags span {
    color: #0e2207;
    font-size: 20px;
    margin-right: 14px;
    font-weight: var(--body-font-weight-bold);
  }
  .blog-details__tags a {
    position: relative;
    font-size: 12px;
    background-color: var(--theme-color2);
    color: var(--text-color-bg-theme-color2);
    display: inline-block;
    padding: 5px 30px 5px;
    font-weight: var(--body-font-weight-bold);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 35px;
  }
  .blog-details__tags a:hover {
    background-color: var(--theme-color1);
    color: var(--text-color-bg-theme-color1);
    text-decoration: none;
  }
  .blog-details__tags a + a {
    margin-left: 6px;
  }
  
  .blog-details__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .blog-details__social-list a {
    position: relative;
    height: 43px;
    width: 43px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: var(--theme-light-background-text-color);
    background-color: var(--theme-light-background);
    font-size: 15px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
  }
  .blog-details__social-list a:hover {
    color: var(--text-color-bg-theme-color2);
  }
  .blog-details__social-list a:hover:after {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  .blog-details__social-list a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: var(--theme-color2);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: all;
    transition-property: all;
    opacity: 1;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    z-index: -1;
  }
  .blog-details__social-list a + a {
    margin-left: 10px;
  }
  
  .blog-details__pagenation-box {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 53px;
  }
  
  .blog-details__pagenation {
    position: relative;
    display: block;
  }
  .blog-details__pagenation li {
    position: relative;
    float: left;
    font-size: 20px;
    color: #0e2207;
    font-weight: var(--body-font-weight-bold);
    color: var(--theme-light-background-text-color);
    background-color: var(--theme-light-background);
    line-height: 30px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    max-width: 370px;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 52px;
    padding-bottom: 52px;
    border-radius: 10px;
  }
  .blog-details__pagenation li:hover {
    background-color: var(--theme-color2);
    color: var(--text-color-bg-theme-color2);
  }
  .blog-details__pagenation li + li {
    margin-left: 30px;
  }
  
  /* Nav Links */
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 53px;
  }
  @media only screen and (max-width: 767px) {
    .nav-links {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 20px;
    }
  }
  .nav-links .prev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: calc(50% - 15px);
    margin-right: 30px;
  }
  @media only screen and (max-width: 767px) {
    .nav-links .prev {
      width: 100%;
    }
  }
  .nav-links .prev .thumb {
    margin-right: 20px;
  }
  .nav-links .next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: calc(50% - 15px);
  }
  @media only screen and (max-width: 767px) {
    .nav-links .next {
      width: 100%;
    }
  }
  .nav-links .next .thumb {
    margin-left: 20px;
  }
  .nav-links > div {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .nav-links > div .thumb {
    display: inline-block;
    min-width: 60px;
    width: 60px;
    height: 60px;
    overflow: hidden;
  }
  .nav-links > div .thumb a {
    display: inline-block;
  }
  .nav-links > div > a {
    display: inline-block;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    font-size: 20px;
    line-height: 1.637;
    font-weight: var(--body-font-weight-bold);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    color: var(--theme-light-background-text-color);
    background-color: var(--theme-light-background);
    padding: 52px 50px;
    border-radius: 10px;
    width: 100%;
  }
  @media only screen and (max-width: 767px) {
    .nav-links > div > a {
      padding: 30px;
    }
  }
  .nav-links > div > a:hover {
    color: var(--text-color-bg-theme-color1);
    background-color: var(--theme-color1);
  }
  
  /*** 
  
  ====================================================================
  Sidebar
  ====================================================================
  
  ***/
  @media (max-width: 991px) {
    .sidebar {
      margin-top: 50px;
    }
  }
  .sidebar__single + .sidebar__single {
    margin-top: 30px;
  }
  
  .sidebar__title {
    margin: 0;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: var(--h4-font-weight);
  }
  
  .sidebar__search {
    position: relative;
    display: block;
  }
  
  .sidebar__search-form {
    position: relative;
  }
  .sidebar__search-form input[type=search] {
    display: block;
    border: none;
    outline: none;
    background-color: var(--theme-color2);
    color: var(--text-color-bg-theme-color2);
    font-size: 16px;
    font-weight: 500;
    padding-left: 50px;
    height: 74px;
    width: 100%;
    padding-right: 80px;
    border-radius: 10px;
  }
  .sidebar__search-form input[type=search]::-webkit-input-placeholder {
    color: var(--text-color-bg-theme-color2);
    opacity: 1;
  }
  .sidebar__search-form input[type=search]::-webkit-input-placeholder, .sidebar__search-form input[type=search]:-ms-input-placeholder, .sidebar__search-form input[type=search]::-ms-input-placeholder, .sidebar__search-form input[type=search]::placeholder {
    color: var(--text-color-bg-theme-color2);
    opacity: 1;
  }
  @media only screen and (max-width: 767px) {
    .sidebar__search-form input[type=search] {
      padding-left: 30px;
    }
  }
  .sidebar__search-form button[type=submit] {
    background-color: transparent;
    color: var(--text-color-bg-theme-color2);
    font-size: 22px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 72px;
    outline: none;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
  }
  @media only screen and (max-width: 767px) {
    .sidebar__search-form button[type=submit] {
      width: 42px;
    }
  }
  
  .sidebar__post {
    position: relative;
    display: block;
    padding: 46px 30px 30px;
    color: var(--theme-light-background-text-color);
    background-color: var(--theme-light-background);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
  }
  @media only screen and (max-width: 767px) {
    .sidebar__post {
      padding: 30px;
    }
  }
  .sidebar__post .sidebar__title {
    margin-left: 20px;
  }
  @media only screen and (max-width: 767px) {
    .sidebar__post .sidebar__title {
      margin-left: 0;
    }
  }
  .sidebar__post .sidebar__post-list {
    margin: 0;
  }
  .sidebar__post .sidebar__post-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px 20px 17px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  @media only screen and (max-width: 767px) {
    .sidebar__post .sidebar__post-list li {
      padding: 16px 0;
    }
  }
  .sidebar__post .sidebar__post-list li:hover {
    background-color: #ffffff;
    border-radius: 10px;
  }
  .sidebar__post .sidebar__post-list li + li {
    margin-top: 11px;
  }
  .sidebar__post .sidebar__post-list .sidebar__post-image {
    margin-right: 20px;
    -webkit-box-flex: 70px;
        -ms-flex: 70px 0 0px;
            flex: 70px 0 0;
  }
  .sidebar__post .sidebar__post-list .sidebar__post-image > img {
    width: 80px;
    border-radius: 10px;
  }
  .sidebar__post .sidebar__post-list .sidebar__post-content {
    position: relative;
    top: -3px;
  }
  .sidebar__post .sidebar__post-list .sidebar__post-content h3 {
    font-size: 18px;
    margin: 0;
    line-height: 26px;
    letter-spacing: 0;
  }
  .sidebar__post .sidebar__post-list .sidebar__post-content h3 a {
    color: #0e2207;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
  .sidebar__post .sidebar__post-list .sidebar__post-content-meta {
    font-size: 14px;
    font-weight: 500;
    color: #757873 !important;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .sidebar__post .sidebar__post-list .sidebar__post-content-meta i {
    color: var(--theme-color2);
    font-size: 14px;
    padding-right: 3px;
  }
  
  .sidebar__category {
    position: relative;
    display: block;
    color: var(--theme-light-background-text-color);
    background-color: var(--theme-light-background);
    border-radius: 10px;
    padding: 45px 30px 38px;
    overflow: hidden;
    z-index: 1;
  }
  @media only screen and (max-width: 767px) {
    .sidebar__category {
      padding: 30px 15px 30px;
    }
  }
  .sidebar__category .sidebar__title {
    padding-left: 20px;
    margin-bottom: 9px;
  }
  .sidebar__category-list {
    margin: 0;
  }
  .sidebar__category-list li + li {
    margin-top: 4px;
  }
  .sidebar__category-list li a {
    color: #757873;
    font-size: 16px;
    position: relative;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: block;
    background: none;
    padding: 12px 20px;
    font-weight: 500;
    border-radius: 10px;
  }
  .sidebar__category-list li a:hover {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
    color: #0e2207;
    text-shadow: 1px 0 0 rgba(14, 34, 7, 0.5);
  }
  .sidebar__category-list li a:hover span {
    color: #ffcd1e;
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
  }
  .sidebar__category-list li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    color: var(--theme-color2);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
  }
  .sidebar__category-list li.active a {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
    color: #0e2207;
    border-radius: 10px;
    text-shadow: 1px 0 0 rgba(14, 34, 7, 0.5);
  }
  .sidebar__category-list li.active a span {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    color: #ffcd1e;
  }
  
  .sidebar__tags {
    position: relative;
    display: block;
    color: var(--theme-light-background-text-color);
    background-color: var(--theme-light-background);
    padding: 46px 45px 50px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
  }
  @media only screen and (max-width: 767px) {
    .sidebar__tags {
      padding: 30px;
    }
  }
  .sidebar__tags .sidebar__title {
    margin-left: 5px;
    margin-bottom: 25px;
  }
  
  .sidebar__tags-list {
    margin-top: -10px;
  }
  .sidebar__tags-list a {
    font-size: 14px;
    color: #0e2207;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: #ffffff;
    display: inline-block;
    padding: 5px 28px 5px;
    margin-left: 5px;
    border-radius: 30px;
  }
  .sidebar__tags-list a:hover {
    color: var(--text-color-bg-theme-color1);
    background: var(--theme-color1);
  }
  .sidebar__tags-list a + a {
    margin-left: 5px;
    margin-top: 10px;
  }
  
  .sidebar__comments {
    position: relative;
    display: block;
    color: var(--theme-light-background-text-color);
    background-color: var(--theme-light-background);
    padding: 46px 50px 43px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
  }
  @media only screen and (max-width: 767px) {
    .sidebar__comments {
      padding: 30px;
    }
  }
  .sidebar__comments .sidebar__title {
    margin-bottom: 25px;
  }
  
  .sidebar__comments-list {
    position: relative;
    display: block;
  }
  .sidebar__comments-list li {
    position: relative;
    display: block;
    padding-left: 65px;
  }
  .sidebar__comments-list li:hover .sidebar__comments-icon {
    background-color: var(--theme-color2);
    color: var(--text-color-bg-theme-color2);
  }
  .sidebar__comments-list li + li {
    margin-top: 23px;
  }
  
  .sidebar__comments-icon {
    height: 45px;
    width: 45px;
    background-color: var(--theme-color1);
    border-radius: 50%;
    font-size: 15px;
    color: var(--text-color-bg-theme-color1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .sidebar__comments-text-box p {
    font-size: 15px;
    margin: 0;
    line-height: 26px;
    font-weight: 500;
  }
  .sidebar__comments-text-box p span {
    color: #0e2207;
  }
  .sidebar__comments-text-box h5 {
    font-size: 15px;
    margin: 0;
    line-height: 26px;
    color: #757873;
    font-weight: 500;
    letter-spacing: 0;
  }
  
  /*** 
  
  ====================================================================
      Comments
  ====================================================================
  
  ***/
  .comment-one .comment-one__title {
    margin-bottom: 30px;
  }
  .comment-one .comment-one__single {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ece9e0;
    padding-bottom: 60px;
    margin-bottom: 60px;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
  }
  @media only screen and (max-width: 767px) {
    .comment-one .comment-one__single {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  .comment-one .comment-one__content {
    position: relative;
    margin-left: 45px;
  }
  @media only screen and (max-width: 767px) {
    .comment-one .comment-one__content {
      margin-top: 20px;
      margin-left: 0;
    }
  }
  .comment-one .comment-one__content h3 {
    margin: 0;
    font-size: 20px;
    color: var(--theme-black);
    margin-bottom: 24px;
  }
  .comment-one .comment-one__content p {
    font-size: 16px;
    font-weight: 500;
  }
  .comment-one .comment-one__btn {
    padding: 5px 30px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
  }
  .comment-one .comment-one__image {
    position: relative;
    display: block;
    border-radius: 50%;
    -webkit-box-flex: 100px;
        -ms-flex: 100px 0 0px;
            flex: 100px 0 0;
  }
  .comment-one .comment-one__image img {
    border-radius: 50%;
  }
  
  .comment-form .comment-form__title {
    margin-top: -7px;
  }
  
  /*--------------------------------------------------------------
  # Team Details
  --------------------------------------------------------------*/
  .team-details {
    position: relative;
    display: block;
  }
  
  .team-details__top {
    padding: 0 0 120px;
  }
  
  .team-details-shape-1 {
    position: absolute;
    bottom: -270px;
    right: 0;
    opacity: 0.5;
    z-index: 2;
  }
  .team-details-shape-1 img {
    width: auto;
  }
  
  .team-details__top-left {
    position: relative;
    display: block;
    margin-right: 20px;
  }
  
  .team-details__top-img {
    position: relative;
    display: block;
    border-radius: 30px;
  }
  .team-details__top-img img {
    width: 100%;
    border-radius: 30px;
  }
  
  .team-details__big-text {
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    color: #eef0f6;
    letter-spacing: 0.35em;
    font-weight: 400;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 209px;
    left: -325px;
  }
  
  .team-details__top-right {
    position: relative;
    display: block;
    margin-left: 50px;
  }
  @media only screen and (max-width: 991px) {
    .team-details__top-right {
      margin-top: 70px;
      margin-left: 0;
    }
  }
  
  .team-details__top-content {
    position: relative;
    display: block;
    margin-top: -11px;
  }
  
  .team-details__top-name {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 3px;
  }
  
  .team-details__top-title {
    font-size: 16px;
    color: var(--theme-color2);
  }
  
  .team-details__social {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 28px;
  }
  .team-details__social a {
    position: relative;
    height: 40px;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    background-color: var(--theme-color2);
    color: var(--text-color-bg-theme-color2);
    font-size: 15px;
    border-radius: 50%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .team-details__social a:hover {
    background-color: var(--theme-color1);
    color: var(--text-color-bg-theme-color1);
  }
  .team-details__social a + a {
    margin-left: 10px;
  }
  
  .team-details__top-text-1 {
    font-size: 30px;
    color: var(--theme-color1);
    line-height: 45px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  .team-details__top-text-2 {
    padding-top: 23px;
    padding-bottom: 35px;
  }
  
  .team-details__bottom {
    position: relative;
    display: block;
    border-top: 1px solid #e4e5ea;
    padding-top: 110px;
  }
  
  .team-details__bottom-left {
    position: relative;
    display: block;
    margin-right: 70px;
  }
  
  .team-details__bottom-left-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
  }
  
  .team-details__bottom-left-text {
    padding-top: 30px;
  }
  
  .team-details__bottom-right {
    position: relative;
    display: block;
    margin-left: 70px;
    margin-top: 1px;
  }
  @media only screen and (max-width: 991px) {
    .team-details__bottom-right {
      margin-left: 0;
    }
  }
  
  .team-details__progress {
    position: relative;
    display: block;
    width: 100%;
  }
  .team-details__progress .bar {
    position: relative;
    width: 100%;
    height: 13px;
    background-color: #eef0f6;
    border-radius: 7px;
    margin-bottom: 22px;
  }
  .team-details__progress .bar-inner {
    position: relative;
    display: block;
    width: 0px;
    height: 13px;
    border-radius: 7px;
    background-color: var(--theme-color2);
    -webkit-transition: all 1500ms ease;
    transition: all 1500ms ease;
  }
  .team-details__progress .count-text {
    position: absolute;
    right: 0px;
    bottom: 21px;
    color: var(--theme-color1);
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    opacity: 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .team-details__progress .bar-inner.counted .count-text {
    opacity: 1;
  }
  .team-details__progress .bar.marb-0 {
    margin-bottom: 0;
  }
  
  .team-details__progress-single {
    position: relative;
    display: block;
  }
  
  .team-details__progress-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: var(--theme-color1);
    margin-bottom: 6px;
  }
  
  .team-contact-form {
    background-color: #eef0f6;
  }
  .team-contact-form input[type=text],
  .team-contact-form input[type=email] {
    background-color: #fff;
  }
  .team-contact-form textarea {
    background-color: #fff;
    height: 180px;
  }
  
  /***
  
  ====================================================================
          Contact
  ====================================================================
  
  ***/
  .contact-details__info {
    position: relative;
    display: block;
    margin-top: 41px;
  }
  .contact-details__info li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contact-details__info li .icon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: var(--theme-color2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .contact-details__info li .icon span {
    color: var(--text-color-bg-theme-color2);
    font-size: 25px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .contact-details__info li:hover .icon {
    background-color: var(--theme-color1);
  }
  .contact-details__info li:hover .icon span {
    color: var(--text-color-bg-theme-color1);
  }
  .contact-details__info li .text {
    margin-left: 30px;
  }
  .contact-details__info li .text p {
    font-size: 14px;
    line-height: 24px;
  }
  .contact-details__info li .text a {
    font-size: 18px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .contact-details__info li .text span {
    font-size: 20px;
  }
  .contact-details__info li + li {
    margin-top: 30px;
  }
  
  /***
  
  ==================================================================
      Main Footer
  ==================================================================
  
  ***/
  .main-footer {
    position: relative;
  }
  .main-footer .icon-object-3 {
    left: -210px;
    top: 85px;
  }
  .main-footer .icon-object-4 {
    right: -200px;
    top: 44px;
  }
  .main-footer .icon-circle-2 {
    right: -260px;
    top: 270px;
  }
  .main-footer .icon-circle-1 {
    left: -250px;
    bottom: 55px;
    height: 60px;
    width: 60px;
  }
  .main-footer .widgets-section {
    position: relative;
    padding: 75px 0 40px;
  }
  .main-footer .footer-column {
    position: relative;
    margin-bottom: 40px;
  }
  .main-footer .footer-widget {
    position: relative;
  }
  .main-footer .widget-title {
    position: relative;
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.2em;
    letter-spacing: 0.01em;
    margin-bottom: 25px;
  }
  @media only screen and (max-width: 1199px) {
    .main-footer .widget-title {
      margin-bottom: 10px;
    }
  }
  .main-footer .services-widget {
    padding-left: 60px;
  }
  @media only screen and (max-width: 1199px) {
    .main-footer .services-widget {
      padding-left: 0;
    }
  }
  .main-footer .social-links-widget .social-icon-one {
    margin-top: 40px;
  }
  @media only screen and (max-width: 1199px) {
    .main-footer .social-links-widget .social-icon-one {
      margin-top: 20px;
    }
  }
  .main-footer.style-two .logo {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
    max-width: 200px;
  }
  @media only screen and (max-width: 1023px) {
    .main-footer.style-two .logo {
      max-width: 100%;
    }
  }
  .main-footer.style-two .services-widget {
    padding-left: 0;
  }
  .main-footer.style-two .contact-widget {
    margin-left: -40px;
  }
  @media only screen and (max-width: 1023px) {
    .main-footer.style-two .contact-widget {
      margin-left: 0;
    }
  }
  .main-footer.style-two .newsletter-widget {
    margin-left: -30px;
  }
  @media only screen and (max-width: 1199px) {
    .main-footer.style-two .newsletter-widget {
      margin-left: 0;
    }
  }
  .main-footer.style-two .footer-bottom .inner-container {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }
  
  /*=== User LInks ===*/
  .user-links {
    position: relative;
  }
  .user-links li {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 14px;
  }
  .user-links li:last-child {
    margin-bottom: 0;
  }
  .user-links li a {
    position: relative;
    display: inline-block;
    color: inherit;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .user-links li a:hover {
    color: #FFFFFF;
  }
  .user-links li a:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #FFFFFF;
    content: "";
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .user-links li a:hover:before {
    width: 100%;
  }
  
  /*=== Footer Bottom ===*/
  .footer-bottom {
    position: relative;
    width: 100%;
  }
  .footer-bottom .inner-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px 0;
  }
  @media only screen and (max-width: 767px) {
    .footer-bottom .inner-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: left;
    }
  }
  .footer-bottom .copyright-text {
    position: relative;
    font-size: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0px;
  }
  .footer-bottom .copyright-text a {
    color: inherit;
  }
  .footer-bottom .copyright-text a:hover {
    color: #ffffff;
  }
  @media only screen and (max-width: 767px) {
    .footer-bottom .copyright-text {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      margin-top: 0px;
      margin-bottom: 0;
    }
  }
  .footer-bottom .footer-links {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
  }
  .footer-bottom .footer-links li {
    position: relative;
    margin-left: 25px;
  }
  @media only screen and (max-width: 767px) {
    .footer-bottom .footer-links li {
      margin-left: 0;
      margin-right: 15px;
    }
  }
  .footer-bottom .footer-links li a {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
  }
  .footer-bottom .footer-links li a:hover {
    color: #ffffff;
  }
  
  /* Subscribe Form */
  .subscribe-form {
    position: relative;
  }
  .subscribe-form .title {
    color: #ffffff;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 25px;
  }
  @media only screen and (max-width: 1199px) {
    .subscribe-form .title {
      margin-bottom: 10px;
    }
    .subscribe-form .title br {
      display: none;
    }
  }
  .subscribe-form .icon {
    position: absolute;
    left: 0;
    top: 15px;
    line-height: 30px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
  }
  .subscribe-form .form-group {
    position: relative;
  }
  .subscribe-form .form-group input[type=text],
  .subscribe-form .form-group input[type=email] {
    position: relative;
    display: block;
    height: 60px;
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    padding: 15px 30px;
    padding-right: 120px;
    background: none;
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  .subscribe-form .form-group input[type=text]::-webkit-input-placeholder, .subscribe-form .form-group input[type=email]::-webkit-input-placeholder {
    color: #ffffff;
  }
  .subscribe-form .form-group input[type=text]::-moz-placeholder, .subscribe-form .form-group input[type=email]::-moz-placeholder {
    color: #ffffff;
  }
  .subscribe-form .form-group input[type=text]:-ms-input-placeholder, .subscribe-form .form-group input[type=email]:-ms-input-placeholder {
    color: #ffffff;
  }
  .subscribe-form .form-group input[type=text]::-ms-input-placeholder, .subscribe-form .form-group input[type=email]::-ms-input-placeholder {
    color: #ffffff;
  }
  .subscribe-form .form-group input[type=text]::placeholder,
  .subscribe-form .form-group input[type=email]::placeholder {
    color: #ffffff;
  }
  @media only screen and (max-width: 599px) {
    .subscribe-form .form-group input[type=text],
  .subscribe-form .form-group input[type=email] {
      padding-right: 25px;
    }
  }
  .subscribe-form .theme-btn {
    position: absolute;
    right: 0;
    bottom: 15px;
    line-height: 30px;
    background: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: underline;
    font-family: var(--text-font);
  }
  .subscribe-form .theme-btn i {
    position: relative;
    top: 2px;
    font-size: 14px;
    margin-left: 5px;
  }
  @media only screen and (max-width: 599px) {
    .subscribe-form .theme-btn {
      position: relative;
      right: 0;
      bottom: 0;
      margin-top: 10px;
      text-align: right;
    }
  }