/*** 

====================================================================
    News Section Two
====================================================================

***/
.news-section-two {
    position: relative;
    padding: 100px 0 70px;
    overflow: hidden;
  }
  
  .news-block-two {
    position: relative;
    margin-bottom: 30px;
  }
  .news-block-two .inner-box {
    position: relative;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .news-block-two .inner-box:hover .image-box .image a:after {
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
  }
  .news-block-two .inner-box:hover .image img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .news-block-two .image-box {
    position: relative;
  }
  .news-block-two .image-box .image {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
  }
  .news-block-two .image-box .image img {
    display: block;
    width: 100%;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .news-block-two .image-box .image a:after {
    background: rgba(255, 255, 255, 0.3);
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    right: 51%;
    top: 0;
    opacity: 1;
    pointer-events: none;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
  }
  .news-block-two .content-box {
    position: relative;
    padding: 30px 0px 0;
    background-color: #fff;
    border-bottom: 0;
  }
  .news-block-two .author-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 12px;
  }
  .news-block-two .author-box .thumb {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
    overflow: hidden;
    -webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.25);
            box-shadow: 0 10px 60px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
    margin-bottom: 0;
  }
  .news-block-two .author-box .name {
    font-weight: 500;
    margin-bottom: 0;
  }
  .news-block-two .title {
    line-height: 1.4em;
    margin-bottom: 0;
  }
  .news-block-two .post-info {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 25px;
    border-top: 1px solid rgba(46, 45, 45, 0.1);
    margin-top: 30px;
  }
  .news-block-two .post-info li {
    position: relative;
    padding: 0 10px;
    font-size: 16px;
    color: #67687a;
    line-height: 30px;
  }
  .news-block-two .post-info li i {
    font-size: 16px;
    margin-right: 5px;
  }
  @media only screen and (max-width: 599px) {
    .news-block-two .post-info li {
      font-size: 14px;
    }
  }
  
  /***
  
  ====================================================================
      team Section
  ====================================================================
  
  ***/
  .team-section {
    position: relative;
    padding: 120px 0 80px;
  }
  .team-section .carousel-outer {
    overflow: hidden;
    padding: 15px 0;
  }
  .team-section .swiper-pagination {
    margin-top: 0;
  }
  
  .team-block-two {
    position: relative;
    margin-bottom: 40px;
  }
  .team-block-two .inner-box {
    position: relative;
  }
  .team-block-two .inner-box:hover .image img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .team-block-two .inner-box:hover .social-links {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }
  .team-block-two .image-box {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
  }
  .team-block-two .image-box::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    left: 25px;
    top: 25px;
    border: 0px solid var(--border-theme-color2);
    content: "";
  }
  .team-block-two .image-box .image {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    z-index: 1;
  }
  .team-block-two .image-box .image img {
    width: 100%;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .team-block-two .info-box {
    position: relative;
    padding: 20px 0 0;
    text-align: center;
  }
  .team-block-two .info-box .name {
    font-weight: 600;
    z-index: 2;
    margin-bottom: 7px;
    text-transform: capitalize;
  }
  .team-block-two .info-box .name:hover {
    color: var(--theme-color2);
  }
  .team-block-two .info-box .designation {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #6a6a6a;
    letter-spacing: 1px;
    z-index: 2;
    line-height: 1em;
    margin-bottom: 5px;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .team-block-two .share-icon {
    position: absolute;
    right: 10px;
    bottom: -10px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background-color: var(--bg-theme-color2);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index: 3;
  }
  .team-block-two .social-links {
    position: absolute;
    right: 10px;
    bottom: 40px;
    padding: 15px 0;
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #ffffff;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .team-block-two .social-links a {
    position: relative;
    height: 35px;
    width: 50px;
    display: block;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: var(--theme-color1);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .team-block-two .social-links a:hover {
    color: var(--theme-color2);
  }
  
  .styled-pagination {
    position: relative;
    max-width: 360px;
    margin: 0 auto;
    width: 100%;
    margin-top: 60px;
    border-radius: 10px;
    background-color: #f4f2f9;
  }
  .styled-pagination .swiper-pagination-progressbar-fill {
    background: var(--bg-theme-color2);
  }
  .styled-pagination .swiper-pagination-progressbar-fill::before {
    position: absolute;
    top: -7px;
    right: 0;
    height: 17px;
    width: 17px;
    background-color: var(--bg-theme-color2);
    border-radius: 50%;
    content: "";
    -webkit-transform: none;
            transform: none;
    display: none;
  }
  
  /*** 
  
  ====================================================================
      Clients Section
  ====================================================================
  
  ***/
  .clients-section {
    position: relative;
    z-index: 1;
    padding: 140px 0;
  }
  .clients-section .sec-title {
    margin-bottom: 50px;
  }
  .clients-section .sec-title .text {
    padding-left: 100px;
    font-size: 16px;
  }
  @media only screen and (max-width: 1199px) {
    .clients-section .sec-title .text {
      padding-left: 0;
    }
  }
  .clients-section .sponsors-outer {
    position: relative;
    padding: 50px 0px;
    border-top: 1px solid rgba(14, 30, 42, 0.1);
  }
  
  .clients-carousel .slide-item {
    position: relative;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .clients-carousel .slide-item a {
    position: relative;
    display: block;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    padding: 0 30px;
  }
  .clients-carousel .slide-item a:hover img {
    opacity: 1;
  }
  .clients-carousel .slide-item img {
    display: inline-block;
    max-width: 100%;
    width: auto;
    height: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .clients-carousel .owl-nav {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 25px;
    background-color: #ffffff;
    max-width: 110px;
    right: 0;
    margin: -13px auto 0;
  }
  .clients-carousel .owl-nav .owl-prev,
  .clients-carousel .owl-nav .owl-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 26px;
    width: 26px;
    background-color: var(--bg-theme-color3);
    color: #7c858c;
    font-size: 14px;
    margin: 0 3px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .clients-carousel .owl-nav .owl-prev:hover,
  .clients-carousel .owl-nav .owl-next:hover {
    background-color: var(--bg-theme-color2);
    color: #ffffff;
  }
  
  .clients-carousel .owl-dots {
    display: none;
  }
  
  /*** 
  
  ====================================================================
      Clients Section Two
  ====================================================================
  
  ***/
  .clients-section-two {
    position: relative;
    z-index: 1;
  }
  .clients-section-two .sponsors-outer {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #f4f5fa;
    padding: 50px 20px;
  }
  .clients-section-two .clients-carousel .slide-item a {
    padding: 0 25px;
  }
  
  /***
  
  ====================================================================
      Project Section
  ====================================================================
  
  ***/
  .project-section {
    position: relative;
    padding: 120px 0;
  }
  .project-section .bg {
    max-height: 590px;
    background-color: var(--bg-theme-color1);
  }
  .project-section .carousel-outer {
    position: relative;
    margin-left: -200px;
    margin-right: -200px;
    overflow: hidden;
  }
  @media only screen and (max-width: 1700px) {
    .project-section .carousel-outer {
      margin: 0 -100px;
    }
  }
  @media only screen and (max-width: 1439px) {
    .project-section .carousel-outer {
      margin: 0px;
    }
  }
  
  .project-block {
    position: relative;
  }
  .project-block .inner-box {
    position: relative;
  }
  .project-block .inner-box:hover .content-box {
    padding-bottom: 0;
  }
  .project-block .inner-box:hover .content-box .title {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  .project-block .inner-box:hover .image-box .image:before {
    height: 100%;
    opacity: 1;
  }
  .project-block .inner-box:hover .image-box .image:after {
    height: 20px;
    opacity: 1;
  }
  .project-block .inner-box:hover .image img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  .project-block .image-box {
    position: relative;
    overflow: hidden;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .project-block .image-box .image {
    position: relative;
    margin-bottom: 0px;
  }
  .project-block .image-box .image a {
    display: block;
    width: 100%;
  }
  .project-block .image-box .image::before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0%;
    width: 100%;
    opacity: 0;
    content: "";
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(var(--theme-color2)));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--theme-color2) 100%);
    pointer-events: none;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .project-block .image-box .image::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0%;
    width: 100%;
    content: "";
    background-color: #ffffff;
    pointer-events: none;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .project-block .image-box .image img {
    width: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .project-block .content-box {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px 20px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index: 9;
  }
  @media only screen and (max-width: 599px) {
    .project-block .content-box {
      padding: 10px 10px;
    }
  }
  .project-block .content-box .cat {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    padding: 5px 30px;
    min-width: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: var(--gradient-1);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  @media only screen and (max-width: 599px) {
    .project-block .content-box .cat {
      width: auto;
    }
  }
  .project-block .content-box .title {
    display: block;
    padding: 24px 40px;
    background-color: #ffffff;
    margin-bottom: 0;
    min-width: 270px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  @media only screen and (max-width: 599px) {
    .project-block .content-box .title {
      padding: 20px 30px;
    }
  }
  .project-block .content-box .title:hover {
    color: var(--theme-color3);
  }
  