$icomoon-font-family: "icomoon-bold" !default;
$icomoon-font-path: "fonts" !default;

$woman-bold: "\e900";
$wind-2-bold: "\e901";
$wind-bold: "\e902";
$wifi-square-bold: "\e903";
$wifi-bold: "\e904";
$weight-1-bold: "\e905";
$weight-bold: "\e906";
$watch-status-bold: "\e907";
$watch-bold: "\e908";
$warning-2-bold: "\e909";
$wallet-search-bold: "\e90a";
$wallet-remove-bold: "\e90b";
$wallet-money-bold: "\e90c";
$wallet-minus-bold: "\e90d";
$wallet-check-bold: "\e90e";
$wallet-add-1-bold: "\e90f";
$wallet-add-bold: "\e910";
$wallet-3-bold: "\e911";
$wallet-2-bold: "\e912";
$wallet-1-bold: "\e913";
$wallet-bold: "\e914";
$volume-up-bold: "\e915";
$volume-slash-bold: "\e916";
$volume-mute-bold: "\e917";
$volume-low-1-bold: "\e918";
$volume-low-bold: "\e919";
$volume-high-bold: "\e91a";
$volume-cross-bold: "\e91b";
$voice-square-bold: "\e91c";
$voice-cricle-bold: "\e91d";
$video-vertical-bold: "\e91e";
$video-time-bold: "\e91f";
$video-tick-bold: "\e920";
$video-square-bold: "\e921";
$video-slash-bold: "\e922";
$video-remove-bold: "\e923";
$video-play-bold: "\e924";
$video-octagon-bold: "\e925";
$video-horizontal-bold: "\e926";
$video-circle-bold: "\e927";
$video-add-bold: "\e928";
$video-bold: "\e929";
$verify-bold: "\e92a";
$user-tick-bold: "\e92b";
$user-tag-bold: "\e92c";
$user-square-bold: "\e92d";
$user-search-bold: "\e92e";
$user-remove-bold: "\e92f";
$user-octagon-bold: "\e930";
$user-minus-bold: "\e931";
$user-edit-bold: "\e932";
$user-cirlce-add-bold: "\e933";
$user-add-bold: "\e934";
$user-bold: "\e935";
$unlock-bold: "\e936";
$unlimited-bold: "\e937";
$undo-bold: "\e938";
$trush-square-bold: "\e939";
$truck-time-bold: "\e93a";
$truck-tick-bold: "\e93b";
$truck-remove-bold: "\e93c";
$truck-fast-bold: "\e93d";
$truck-bold: "\e93e";
$triangle-bold: "\e93f";
$trend-up-bold: "\e940";
$trend-down-bold: "\e941";
$tree-bold: "\e942";
$trash-bold: "\e943";
$translate-bold: "\e944";
$transaction-minus-bold: "\e945";
$trade-bold: "\e946";
$toggle-on-circle-bold: "\e947";
$toggle-on-bold: "\e948";
$toggle-off-circle-bold: "\e949";
$toggle-off-bold: "\e94a";
$timer-start-bold: "\e94b";
$timer-pause-bold: "\e94c";
$timer-1-bold: "\e94d";
$timer-bold: "\e94e";
$tick-square-bold: "\e94f";
$ticket-star-bold: "\e950";
$ticket-expired-bold: "\e951";
$ticket-discount-bold: "\e952";
$ticket-2-bold: "\e953";
$ticket-bold: "\e954";
$tick-circle-bold: "\e955";
$text-underline-bold: "\e956";
$text-italic-bold: "\e957";
$text-bold-bold: "\e958";
$text-block-bold: "\e959";
$textalign-right-bold: "\e95a";
$textalign-left-bold: "\e95b";
$textalign-justifyright-bold: "\e95c";
$textalign-justifyleft-bold: "\e95d";
$textalign-justifycenter-bold: "\e95e";
$textalign-center-bold: "\e95f";
$text-bold: "\e960";
$teacher-bold: "\e961";
$task-square-bold: "\e962";
$task-bold: "\e963";
$tag-user-bold: "\e964";
$tag-right-bold: "\e965";
$tag-cross-bold: "\e966";
$tag-2-bold: "\e967";
$tag-bold: "\e968";
$sun-fog-bold: "\e969";
$sun-1-bold: "\e96a";
$sun-bold: "\e96b";
$subtitle-bold: "\e96c";
$strongbox-2-bold: "\e96d";
$strongbox-bold: "\e96e";
$story-bold: "\e96f";
$stop-circle-bold: "\e970";
$stop-bold: "\e971";
$stickynote-bold: "\e972";
$sticker-bold: "\e973";
$status-up-bold: "\e974";
$status-bold: "\e975";
$star-slash-bold: "\e976";
$star-1-bold: "\e977";
$star-bold: "\e978";
$speedometer-bold: "\e979";
$speaker-bold: "\e97a";
$sound-bold: "\e97b";
$sort-bold: "\e97c";
$sms-tracking-bold: "\e97d";
$sms-star-bold: "\e97e";
$sms-search-bold: "\e97f";
$sms-notification-bold: "\e980";
$sms-edit-bold: "\e981";
$sms-bold: "\e982";
$smileys-bold: "\e983";
$smart-home-bold: "\e984";
$smart-car-bold: "\e985";
$smallcaps-bold: "\e986";
$slider-vertical-1-bold: "\e987";
$slider-vertical-bold: "\e988";
$slider-horizontal-1-bold: "\e989";
$slider-horizontal-bold: "\e98a";
$slider-bold: "\e98b";
$slash-bold: "\e98c";
$size-bold: "\e98d";
$simcard-2-bold: "\e98e";
$simcard-1-bold: "\e98f";
$simcard-bold: "\e990";
$signpost-bold: "\e991";
$sidebar-top-bold: "\e992";
$sidebar-right-bold: "\e993";
$sidebar-left-bold: "\e994";
$sidebar-bottom-bold: "\e995";
$shuffle-bold: "\e996";
$shop-remove-bold: "\e997";
$shopping-cart-bold: "\e998";
$shopping-bag-bold: "\e999";
$shop-add-bold: "\e99a";
$shop-bold: "\e99b";
$ship-bold: "\e99c";
$shield-tick-bold: "\e99d";
$shield-slash-bold: "\e99e";
$shield-security-bold: "\e99f";
$shield-search-bold: "\e9a0";
$shield-cross-bold: "\e9a1";
$share-bold: "\e9a2";
$shapes-1-bold: "\e9a3";
$shapes-bold: "\e9a4";
$settings-bold: "\e9a5";
$setting-5-bold: "\e9a6";
$setting-4-bold: "\e9a7";
$setting-3-bold: "\e9a8";
$setting-2-bold: "\e9a9";
$setting-bold: "\e9aa";
$send-square-bold: "\e9ab";
$send-sqaure-2-bold: "\e9ac";
$send-2-bold: "\e9ad";
$send-1-bold: "\e9ae";
$send-bold: "\e9af";
$security-user-bold: "\e9b0";
$security-time-bold: "\e9b1";
$security-safe-bold: "\e9b2";
$security-card-bold: "\e9b3";
$security-bold: "\e9b4";
$search-zoom-out-1-bold: "\e9b5";
$search-zoom-out-bold: "\e9b6";
$search-zoom-in-1-bold: "\e9b7";
$search-zoom-in-bold: "\e9b8";
$search-status-1-bold: "\e9b9";
$search-status-bold: "\e9ba";
$search-normal-1-bold: "\e9bb";
$search-normal-bold: "\e9bc";
$search-favorite-1-bold: "\e9bd";
$search-favorite-bold: "\e9be";
$scroll-bold: "\e9bf";
$screenmirroring-bold: "\e9c0";
$scissor-1-bold: "\e9c1";
$scissor-bold: "\e9c2";
$scanning-bold: "\e9c3";
$scanner-bold: "\e9c4";
$scan-barcode-bold: "\e9c5";
$scan-bold: "\e9c6";
$save-remove-bold: "\e9c7";
$save-minus-bold: "\e9c8";
$save-add-bold: "\e9c9";
$save-2-bold: "\e9ca";
$sagittarius-bold: "\e9cb";
$safe-home-bold: "\e9cc";
$rulerpen-bold: "\e9cd";
$ruler-bold: "\e9ce";
$row-vertical-bold: "\e9cf";
$row-horizontal-bold: "\e9d0";
$routing-2-bold: "\e9d1";
$routing-bold: "\e9d2";
$route-square-bold: "\e9d3";
$rotate-right-1-bold: "\e9d4";
$rotate-right-bold: "\e9d5";
$rotate-left-1-bold: "\e9d6";
$rotate-left-bold: "\e9d7";
$reserve-bold: "\e9d8";
$repeate-one-bold: "\e9d9";
$repeate-music-bold: "\e9da";
$repeat-circle-bold: "\e9db";
$repeat-bold: "\e9dc";
$refresh-square-2-bold: "\e9dd";
$refresh-right-square-bold: "\e9de";
$refresh-left-square-bold: "\e9df";
$refresh-circle-bold: "\e9e0";
$refresh-2-bold: "\e9e1";
$refresh-bold: "\e9e2";
$redo-bold: "\e9e3";
$recovery-convert-bold: "\e9e4";
$record-circle-bold: "\e9e5";
$record-bold: "\e9e6";
$receive-square-2-bold: "\e9e7";
$receive-square-bold: "\e9e8";
$received-bold: "\e9e9";
$receipt-text-bold: "\e9ea";
$receipt-square-bold: "\e9eb";
$receipt-search-bold: "\e9ec";
$receipt-minus-bold: "\e9ed";
$receipt-item-bold: "\e9ee";
$receipt-edit-bold: "\e9ef";
$receipt-disscount-bold: "\e9f0";
$receipt-discount-bold: "\e9f1";
$receipt-add-bold: "\e9f2";
$receipt-2-1-bold: "\e9f3";
$receipt-2-bold: "\e9f4";
$receipt-1-bold: "\e9f5";
$receipt-bold: "\e9f6";
$ranking-1-bold: "\e9f7";
$ranking-bold: "\e9f8";
$ram-2-bold: "\e9f9";
$ram-bold: "\e9fa";
$radio-bold: "\e9fb";
$radar-2-bold: "\e9fc";
$radar-1-bold: "\e9fd";
$radar-bold: "\e9fe";
$quote-up-square-bold: "\e9ff";
$quote-up-circle-bold: "\ea00";
$quote-up-bold: "\ea01";
$quote-down-square-bold: "\ea02";
$quote-down-circle-bold: "\ea03";
$quote-down-bold: "\ea04";
$programming-arrows-bold: "\ea05";
$programming-arrow-bold: "\ea06";
$profile-tick-bold: "\ea07";
$profile-remove-bold: "\ea08";
$profile-delete-bold: "\ea09";
$profile-circle-bold: "\ea0a";
$profile-add-bold: "\ea0b";
$profile-2user-bold: "\ea0c";
$printer-slash-bold: "\ea0d";
$printer-bold: "\ea0e";
$previous-bold: "\ea0f";
$presention-chart-bold: "\ea10";
$play-remove-bold: "\ea11";
$play-cricle-bold: "\ea12";
$play-circle-bold: "\ea13";
$play-add-bold: "\ea14";
$play-bold: "\ea15";
$picture-frame-bold: "\ea16";
$pharagraphspacing-bold: "\ea17";
$pet-bold: "\ea18";
$personalcard-bold: "\ea19";
$percentage-square-bold: "\ea1a";
$percentage-circle-bold: "\ea1b";
$people-bold: "\ea1c";
$pen-tool-2-bold: "\ea1d";
$pen-tool-bold: "\ea1e";
$pen-remove-bold: "\ea1f";
$pen-close-bold: "\ea20";
$pen-add-bold: "\ea21";
$pause-circle-bold: "\ea22";
$pause-bold: "\ea23";
$path-square-bold: "\ea24";
$path-2-bold: "\ea25";
$path-bold: "\ea26";
$password-check-bold: "\ea27";
$paperclip-2-bold: "\ea28";
$paperclip-bold: "\ea29";
$paintbucket-bold: "\ea2a";
$omega-square-bold: "\ea2b";
$omega-circle-bold: "\ea2c";
$notification-status-bold: "\ea2d";
$notification-favorite-bold: "\ea2e";
$notification-bing-bold: "\ea2f";
$notification-1-bold: "\ea30";
$notification-bold: "\ea31";
$note-text-bold: "\ea32";
$note-square-bold: "\ea33";
$note-remove-bold: "\ea34";
$note-favorite-bold: "\ea35";
$note-add-bold: "\ea36";
$note-21-bold: "\ea37";
$note-2-bold: "\ea38";
$note-1-bold: "\ea39";
$note-bold: "\ea3a";
$next-bold: "\ea3b";
$music-square-search-bold: "\ea3c";
$music-square-remove-bold: "\ea3d";
$music-square-add-bold: "\ea3e";
$music-square-bold: "\ea3f";
$music-playlist-bold: "\ea40";
$music-play-bold: "\ea41";
$musicnote-bold: "\ea42";
$music-library-2-bold: "\ea43";
$music-filter-bold: "\ea44";
$music-dashboard-bold: "\ea45";
$music-circle-bold: "\ea46";
$music-bold: "\ea47";
$mouse-square-bold: "\ea48";
$mouse-circle-bold: "\ea49";
$mouse-1-bold: "\ea4a";
$mouse-bold: "\ea4b";
$more-square-bold: "\ea4c";
$more-circle-bold: "\ea4d";
$more-2-bold: "\ea4e";
$more-bold: "\ea4f";
$moon-bold: "\ea50";
$monitor-recorder-bold: "\ea51";
$monitor-mobbile-bold: "\ea52";
$monitor-bold: "\ea53";
$money-time-bold: "\ea54";
$money-tick-bold: "\ea55";
$money-send-bold: "\ea56";
$moneys-bold: "\ea57";
$money-remove-bold: "\ea58";
$money-recive-bold: "\ea59";
$money-forbidden-bold: "\ea5a";
$money-change-bold: "\ea5b";
$money-add-bold: "\ea5c";
$money-4-bold: "\ea5d";
$money-3-bold: "\ea5e";
$money-2-bold: "\ea5f";
$money-bold: "\ea60";
$mobile-programming-bold: "\ea61";
$mobile-bold: "\ea62";
$mirroring-screen-bold: "\ea63";
$mirror-bold: "\ea64";
$minus-square-bold: "\ea65";
$minus-cirlce-bold: "\ea66";
$minus-bold: "\ea67";
$mini-music-sqaure-bold: "\ea68";
$milk-bold: "\ea69";
$microscope-bold: "\ea6a";
$microphone-slash-1-bold: "\ea6b";
$microphone-slash-bold: "\ea6c";
$microphone-2-bold: "\ea6d";
$microphone-bold: "\ea6e";
$message-time-bold: "\ea6f";
$message-tick-bold: "\ea70";
$message-text-1-bold: "\ea71";
$message-text-bold: "\ea72";
$message-square-bold: "\ea73";
$message-search-bold: "\ea74";
$messages-3-bold: "\ea75";
$messages-2-bold: "\ea76";
$messages-1-bold: "\ea77";
$messages-bold: "\ea78";
$message-remove-bold: "\ea79";
$message-question-bold: "\ea7a";
$message-programming-bold: "\ea7b";
$message-notif-bold: "\ea7c";
$message-minus-bold: "\ea7d";
$message-favorite-bold: "\ea7e";
$message-edit-bold: "\ea7f";
$message-circle-bold: "\ea80";
$message-add-1-bold: "\ea81";
$message-add-bold: "\ea82";
$message-2-bold: "\ea83";
$message-bold: "\ea84";
$menu-board-bold: "\ea85";
$menu-1-bold: "\ea86";
$menu-bold: "\ea87";
$medal-star-bold: "\ea88";
$medal-bold: "\ea89";
$maximize-circle-bold: "\ea8a";
$maximize-21-bold: "\ea8b";
$maximize-4-bold: "\ea8c";
$maximize-3-bold: "\ea8d";
$maximize-2-bold: "\ea8e";
$maximize-1-bold: "\ea8f";
$maximize-bold: "\ea90";
$math-bold: "\ea91";
$mask-2-bold: "\ea92";
$mask-1-bold: "\ea93";
$mask-bold: "\ea94";
$map-1-bold: "\ea95";
$map-bold: "\ea96";
$man-bold: "\ea97";
$main-component-bold: "\ea98";
$magic-star-bold: "\ea99";
$magicpen-bold: "\ea9a";
$lovely-bold: "\ea9b";
$logout-1-bold: "\ea9c";
$logout-bold: "\ea9d";
$login-1-bold: "\ea9e";
$login-bold: "\ea9f";
$lock-slash-bold: "\eaa0";
$lock-circle-bold: "\eaa1";
$lock-1-bold: "\eaa2";
$lock-bold: "\eaa3";
$location-tick-bold: "\eaa4";
$location-slash-bold: "\eaa5";
$location-minus-bold: "\eaa6";
$location-cross-bold: "\eaa7";
$location-add-bold: "\eaa8";
$location-bold: "\eaa9";
$link-square-bold: "\eaaa";
$link-circle-bold: "\eaab";
$link-21-bold: "\eaac";
$link-2-bold: "\eaad";
$link-1-bold: "\eaae";
$link-bold: "\eaaf";
$like-tag-bold: "\eab0";
$like-shapes-bold: "\eab1";
$like-dislike-bold: "\eab2";
$like-1-bold: "\eab3";
$like-bold: "\eab4";
$lifebuoy-bold: "\eab5";
$level-bold: "\eab6";
$layer-bold: "\eab7";
$language-square-bold: "\eab8";
$language-circle-bold: "\eab9";
$lamp-slash-bold: "\eaba";
$lamp-on-bold: "\eabb";
$lamp-charge-bold: "\eabc";
$lamp-1-bold: "\eabd";
$lamp-bold: "\eabe";
$key-square-bold: "\eabf";
$keyboard-open-bold: "\eac0";
$keyboard-bold: "\eac1";
$key-bold: "\eac2";
$kanban-bold: "\eac3";
$judge-bold: "\eac4";
$instagram-bold: "\eac5";
$information-bold: "\eac6";
$info-circle-bold: "\eac7";
$import-3-bold: "\eac8";
$import-2-bold: "\eac9";
$import-1-bold: "\eaca";
$import-bold: "\eacb";
$image-bold: "\eacc";
$house-2-bold: "\eacd";
$house-bold: "\eace";
$hospital-bold: "\eacf";
$home-wifi-bold: "\ead0";
$home-trend-up-bold: "\ead1";
$home-trend-down-bold: "\ead2";
$home-hashtag-bold: "\ead3";
$home-2-bold: "\ead4";
$home-1-bold: "\ead5";
$home-bold: "\ead6";
$hierarchy-square-3-bold: "\ead7";
$hierarchy-square-2-bold: "\ead8";
$hierarchy-square-bold: "\ead9";
$hierarchy-3-bold: "\eada";
$hierarchy-2-bold: "\eadb";
$hierarchy-bold: "\eadc";
$heart-tick-bold: "\eadd";
$heart-slash-bold: "\eade";
$heart-search-bold: "\eadf";
$heart-remove-bold: "\eae0";
$heart-edit-bold: "\eae1";
$heart-circle-bold: "\eae2";
$heart-add-bold: "\eae3";
$heart-bold: "\eae4";
$health-bold: "\eae5";
$headphones-bold: "\eae6";
$headphone-bold: "\eae7";
$hashtag-up-bold: "\eae8";
$hashtag-down-bold: "\eae9";
$hashtag-1-bold: "\eaea";
$hashtag-bold: "\eaeb";
$happyemoji-bold: "\eaec";
$grid-lock-bold: "\eaed";
$grid-eraser-bold: "\eaee";
$grid-edit-bold: "\eaef";
$grid-9-bold: "\eaf0";
$grid-8-bold: "\eaf1";
$grid-7-bold: "\eaf2";
$grid-6-bold: "\eaf3";
$grid-5-bold: "\eaf4";
$grid-4-bold: "\eaf5";
$grid-3-bold: "\eaf6";
$grid-2-bold: "\eaf7";
$grid-1-bold: "\eaf8";
$graph-bold: "\eaf9";
$grammerly-bold: "\eafa";
$gps-slash-bold: "\eafb";
$gps-bold: "\eafc";
$global-search-bold: "\eafd";
$global-refresh-bold: "\eafe";
$global-edit-bold: "\eaff";
$global-bold: "\eb00";
$glass-1-bold: "\eb01";
$glass-bold: "\eb02";
$gift-bold: "\eb03";
$ghost-bold: "\eb04";
$gemini-2-bold: "\eb05";
$gemini-bold: "\eb06";
$gas-station-bold: "\eb07";
$gameboy-bold: "\eb08";
$game-bold: "\eb09";
$gallery-tick-bold: "\eb0a";
$gallery-slash-bold: "\eb0b";
$gallery-remove-bold: "\eb0c";
$gallery-import-bold: "\eb0d";
$gallery-favorite-bold: "\eb0e";
$gallery-export-bold: "\eb0f";
$gallery-edit-bold: "\eb10";
$gallery-add-bold: "\eb11";
$gallery-bold: "\eb12";
$frame-4-bold: "\eb13";
$frame-3-bold: "\eb14";
$frame-2-bold: "\eb15";
$frame-1-bold: "\eb16";
$frame-bold: "\eb17";
$forward-square-bold: "\eb18";
$forward-item-bold: "\eb19";
$forward-15-seconds-bold: "\eb1a";
$forward-10-seconds-bold: "\eb1b";
$forward-5-seconds-bold: "\eb1c";
$forward-bold: "\eb1d";
$format-square-bold: "\eb1e";
$format-circle-bold: "\eb1f";
$forbidden-2-bold: "\eb20";
$forbidden-bold: "\eb21";
$folder-open-bold: "\eb22";
$folder-minus-bold: "\eb23";
$folder-favorite-bold: "\eb24";
$folder-cross-bold: "\eb25";
$folder-connection-bold: "\eb26";
$folder-cloud-bold: "\eb27";
$folder-add-bold: "\eb28";
$folder-2-bold: "\eb29";
$folder-bold: "\eb2a";
$flash-slash-bold: "\eb2b";
$flash-circle-1-bold: "\eb2c";
$flash-circle-bold: "\eb2d";
$flash-1-bold: "\eb2e";
$flash-bold: "\eb2f";
$flag-2-bold: "\eb30";
$flag-bold: "\eb31";
$firstline-bold: "\eb32";
$finger-scan-bold: "\eb33";
$finger-cricle-bold: "\eb34";
$filter-tick-bold: "\eb35";
$filter-square-bold: "\eb36";
$filter-search-bold: "\eb37";
$filter-remove-bold: "\eb38";
$filter-edit-bold: "\eb39";
$filter-add-bold: "\eb3a";
$filter-bold: "\eb3b";
$favorite-chart-bold: "\eb3c";
$fatrows-bold: "\eb3d";
$eye-slash-bold: "\eb3e";
$eye-bold: "\eb3f";
$external-drive-bold: "\eb40";
$export-3-bold: "\eb41";
$export-2-bold: "\eb42";
$export-1-bold: "\eb43";
$export-bold: "\eb44";
$eraser-1-bold: "\eb45";
$eraser-bold: "\eb46";
$empty-wallet-time-bold: "\eb47";
$empty-wallet-tick-bold: "\eb48";
$empty-wallet-remove-bold: "\eb49";
$empty-wallet-change-bold: "\eb4a";
$empty-wallet-add-bold: "\eb4b";
$empty-wallet-bold: "\eb4c";
$emoji-sad-bold: "\eb4d";
$emoji-normal-bold: "\eb4e";
$emoji-happy-bold: "\eb4f";
$element-plus-bold: "\eb50";
$element-equal-bold: "\eb51";
$element-4-bold: "\eb52";
$element-3-bold: "\eb53";
$element-2-bold: "\eb54";
$electricity-bold: "\eb55";
$edit-2-bold: "\eb56";
$edit-bold: "\eb57";
$drop-bold: "\eb58";
$driving-bold: "\eb59";
$driver-refresh-bold: "\eb5a";
$driver-2-bold: "\eb5b";
$driver-bold: "\eb5c";
$dollar-square-bold: "\eb5d";
$dollar-circle-bold: "\eb5e";
$document-upload-bold: "\eb5f";
$document-text-1-bold: "\eb60";
$document-text-bold: "\eb61";
$document-sketch-bold: "\eb62";
$document-previous-bold: "\eb63";
$document-normal-bold: "\eb64";
$document-like-bold: "\eb65";
$document-forward-bold: "\eb66";
$document-filter-bold: "\eb67";
$document-favorite-bold: "\eb68";
$document-download-bold: "\eb69";
$document-copy-bold: "\eb6a";
$document-code-2-bold: "\eb6b";
$document-code-bold: "\eb6c";
$document-cloud-bold: "\eb6d";
$document-1-bold: "\eb6e";
$document-bold: "\eb6f";
$dislike-bold: "\eb70";
$discover-1-bold: "\eb71";
$discover-bold: "\eb72";
$discount-shape-bold: "\eb73";
$discount-circle-bold: "\eb74";
$direct-up-bold: "\eb75";
$direct-send-bold: "\eb76";
$direct-right-bold: "\eb77";
$direct-notification-bold: "\eb78";
$direct-normal-bold: "\eb79";
$direct-left-bold: "\eb7a";
$direct-inbox-bold: "\eb7b";
$direct-down-bold: "\eb7c";
$directbox-send-bold: "\eb7d";
$directbox-receive-bold: "\eb7e";
$directbox-notif-bold: "\eb7f";
$directbox-default-bold: "\eb80";
$direct-bold: "\eb81";
$diamonds-bold: "\eb82";
$diagram-bold: "\eb83";
$devices-1-bold: "\eb84";
$devices-bold: "\eb85";
$device-message-bold: "\eb86";
$designtools-bold: "\eb87";
$data-2-bold: "\eb88";
$data-bold: "\eb89";
$danger-bold: "\eb8a";
$cup-bold: "\eb8b";
$crown-1-bold: "\eb8c";
$crown-bold: "\eb8d";
$crop-bold: "\eb8e";
$creative-commons-bold: "\eb8f";
$cpu-setting-bold: "\eb90";
$cpu-charge-bold: "\eb91";
$cpu-bold: "\eb92";
$courthouse-bold: "\eb93";
$copy-success-bold: "\eb94";
$copyright-bold: "\eb95";
$copy-bold: "\eb96";
$convertshape-2-bold: "\eb97";
$convertshape-bold: "\eb98";
$convert-card-bold: "\eb99";
$convert-3d-cube-bold: "\eb9a";
$convert-bold: "\eb9b";
$computing-bold: "\eb9c";
$component-bold: "\eb9d";
$command-square-bold: "\eb9e";
$command-bold: "\eb9f";
$color-swatch-bold: "\eba0";
$colors-square-bold: "\eba1";
$colorfilter-bold: "\eba2";
$coin-1-bold: "\eba3";
$coin-bold: "\eba4";
$coffee-bold: "\eba5";
$code-circle-bold: "\eba6";
$code-1-bold: "\eba7";
$code-bold: "\eba8";
$cloud-sunny-bold: "\eba9";
$cloud-snow-bold: "\ebaa";
$cloud-remove-bold: "\ebab";
$cloud-plus-bold: "\ebac";
$cloud-notif-bold: "\ebad";
$cloud-minus-bold: "\ebae";
$cloud-lightning-bold: "\ebaf";
$cloud-fog-bold: "\ebb0";
$cloud-drizzle-bold: "\ebb1";
$cloud-cross-bold: "\ebb2";
$cloud-connection-bold: "\ebb3";
$cloud-change-bold: "\ebb4";
$cloud-add-bold: "\ebb5";
$cloud-bold: "\ebb6";
$close-square-bold: "\ebb7";
$close-circle-bold: "\ebb8";
$clock-1-bold: "\ebb9";
$clock-bold: "\ebba";
$clipboard-tick-bold: "\ebbb";
$clipboard-text-bold: "\ebbc";
$clipboard-import-bold: "\ebbd";
$clipboard-export-bold: "\ebbe";
$clipboard-close-bold: "\ebbf";
$clipboard-bold: "\ebc0";
$chrome-bold: "\ebc1";
$check-bold: "\ebc2";
$chart-success-bold: "\ebc3";
$chart-square-bold: "\ebc4";
$chart-fail-bold: "\ebc5";
$chart-21-bold: "\ebc6";
$chart-3-bold: "\ebc7";
$chart-2-bold: "\ebc8";
$chart-1-bold: "\ebc9";
$chart-bold: "\ebca";
$cd-bold: "\ebcb";
$category-2-bold: "\ebcc";
$category-bold: "\ebcd";
$card-tick-1-bold: "\ebce";
$card-tick-bold: "\ebcf";
$card-slash-bold: "\ebd0";
$card-send-bold: "\ebd1";
$cards-bold: "\ebd2";
$card-remove-1-bold: "\ebd3";
$card-remove-bold: "\ebd4";
$card-receive-bold: "\ebd5";
$card-pos-bold: "\ebd6";
$card-edit-bold: "\ebd7";
$card-coin-bold: "\ebd8";
$card-add-bold: "\ebd9";
$card-bold: "\ebda";
$car-bold: "\ebdb";
$candle-2-bold: "\ebdc";
$candle-bold: "\ebdd";
$camera-slash-bold: "\ebde";
$camera-bold: "\ebdf";
$call-slash-bold: "\ebe0";
$call-remove-bold: "\ebe1";
$call-received-bold: "\ebe2";
$call-outgoing-bold: "\ebe3";
$call-minus-bold: "\ebe4";
$call-incoming-bold: "\ebe5";
$call-calling-bold: "\ebe6";
$call-add-bold: "\ebe7";
$call-bold: "\ebe8";
$calendar-tick-bold: "\ebe9";
$calendar-search-bold: "\ebea";
$calendar-remove-bold: "\ebeb";
$calendar-edit-bold: "\ebec";
$calendar-circle-bold: "\ebed";
$calendar-add-bold: "\ebee";
$calendar-2-bold: "\ebef";
$calendar-1-bold: "\ebf0";
$calendar-bold: "\ebf1";
$calculator-bold: "\ebf2";
$cake-bold: "\ebf3";
$buy-crypto-bold: "\ebf4";
$bus-bold: "\ebf5";
$buliding-bold: "\ebf6";
$buildings-2-bold: "\ebf7";
$buildings-bold: "\ebf8";
$building-4-bold: "\ebf9";
$building-3-bold: "\ebfa";
$building-bold: "\ebfb";
$bucket-square-bold: "\ebfc";
$bucket-circle-bold: "\ebfd";
$bucket-bold: "\ebfe";
$bubble-bold: "\ebff";
$brush-4-bold: "\ec00";
$brush-3-bold: "\ec01";
$brush-2-bold: "\ec02";
$brush-1-bold: "\ec03";
$brush-bold: "\ec04";
$broom-bold: "\ec05";
$brifecase-timer-bold: "\ec06";
$brifecase-tick-bold: "\ec07";
$brifecase-cross-bold: "\ec08";
$briefcase-bold: "\ec09";
$box-time-bold: "\ec0a";
$box-tick-bold: "\ec0b";
$box-search-bold: "\ec0c";
$box-remove-bold: "\ec0d";
$box-add-bold: "\ec0e";
$box-2-bold: "\ec0f";
$box-1-bold: "\ec10";
$box-bold: "\ec11";
$book-square-bold: "\ec12";
$book-saved-bold: "\ec13";
$bookmark-2-bold: "\ec14";
$bookmark-bold: "\ec15";
$book-1-bold: "\ec16";
$book-bold: "\ec17";
$blur-bold: "\ec18";
$bluetooth-rectangle-bold: "\ec19";
$bluetooth-circle-bold: "\ec1a";
$bluetooth-2-bold: "\ec1b";
$bluetooth-bold: "\ec1c";
$blend-2-bold: "\ec1d";
$blend-bold: "\ec1e";
$bitcoin-refresh-bold: "\ec1f";
$bitcoin-convert-bold: "\ec20";
$bitcoin-card-bold: "\ec21";
$bill-bold: "\ec22";
$bezier-bold: "\ec23";
$battery-full-bold: "\ec24";
$battery-empty-1-bold: "\ec25";
$battery-empty-bold: "\ec26";
$battery-disable-bold: "\ec27";
$battery-charging-bold: "\ec28";
$battery-3full-bold: "\ec29";
$barcode-bold: "\ec2a";
$bank-bold: "\ec2b";
$bag-timer-bold: "\ec2c";
$bag-tick-2-bold: "\ec2d";
$bag-tick-bold: "\ec2e";
$bag-happy-bold: "\ec2f";
$bag-cross-1-bold: "\ec30";
$bag-cross-bold: "\ec31";
$bag-2-bold: "\ec32";
$bag-bold: "\ec33";
$backward-item-bold: "\ec34";
$backward-15-seconds-bold: "\ec35";
$backward-10-seconds-bold: "\ec36";
$backward-5-seconds-bold: "\ec37";
$backward-bold: "\ec38";
$back-square-bold: "\ec39";
$award-bold: "\ec3a";
$autobrightness-bold: "\ec3b";
$audio-square-bold: "\ec3c";
$attach-square-bold: "\ec3d";
$attach-circle-bold: "\ec3e";
$arrow-up-3-bold: "\ec3f";
$arrow-up-2-bold: "\ec40";
$arrow-up-1-bold: "\ec41";
$arrow-up-bold: "\ec42";
$arrow-swap-horizontal-bold: "\ec43";
$arrow-swap-bold: "\ec44";
$arrow-square-up-bold: "\ec45";
$arrow-square-right-bold: "\ec46";
$arrow-square-left-bold: "\ec47";
$arrow-square-down-bold: "\ec48";
$arrow-square-bold: "\ec49";
$arrow-right-3-bold: "\ec4a";
$arrow-right-2-bold: "\ec4b";
$arrow-right-1-bold: "\ec4c";
$arrow-right-bold: "\ec4d";
$arrow-left-3-bold: "\ec4e";
$arrow-left-2-bold: "\ec4f";
$arrow-left-1-bold: "\ec50";
$arrow-left-bold: "\ec51";
$arrow-down-2-bold: "\ec52";
$arrow-down-1-bold: "\ec53";
$arrow-down-bold: "\ec54";
$arrow-circle-up-bold: "\ec55";
$arrow-circle-right-bold: "\ec56";
$arrow-circle-left-bold: "\ec57";
$arrow-circle-down-bold: "\ec58";
$arrow-bottom-bold: "\ec59";
$arrow-3-bold: "\ec5a";
$arrow-2-bold: "\ec5b";
$arrow-bold: "\ec5c";
$arrange-square-2-bold: "\ec5d";
$arrange-square-bold: "\ec5e";
$arrange-circle-2-bold: "\ec5f";
$arrange-circle-bold: "\ec60";
$archive-tick-bold: "\ec61";
$archive-slash-bold: "\ec62";
$archive-minus-bold: "\ec63";
$archive-book-bold: "\ec64";
$archive-add-bold: "\ec65";
$archive-2-bold: "\ec66";
$archive-1-bold: "\ec67";
$archive-bold: "\ec68";
$aquarius-bold: "\ec69";
$align-vertically-bold: "\ec6a";
$align-right-bold: "\ec6b";
$align-left-bold: "\ec6c";
$align-horizontally-bold: "\ec6d";
$align-bottom-bold: "\ec6e";
$alarm-bold: "\ec6f";
$airpods-bold: "\ec70";
$airpod-bold: "\ec71";
$airplane-square-bold: "\ec72";
$airplane-bold: "\ec73";
$airdrop-bold: "\ec74";
$add-square-bold: "\ec75";
$additem-bold: "\ec76";
$add-circle-bold: "\ec77";
$add-bold: "\ec78";
$activity-bold: "\ec79";
$support-bold: "\ec7a";
$square-bold: "\ec7b";
$d-square-bold: "\ec7c";
$d-rotate-bold: "\ec7d";
$d-cube-scan-bold: "\ec7e";
$dcube-bold: "\ec7f";

